{% extends 'diagnoz/shablonmeny.html' %}
{% block nav %}


<div class="container-fluid text-center">
    <div class="col">
        <h6>{{reestrinput}}</h6>
    </div>
    {% if reestr %}
    <a>Увійти / Зареєструватися"</a>
    {% else %}
    <a>Увійти"</a>
    {% endif %}
</div>
<div class=" container-fluid text-center d-flex justify-content-center align-items-center ">
    <form class="needs-validation mx-auto" method="POST" novalidate="">
    {% csrf_token %}
    <div class="row g-3">
        <div class="col-md-5">
            <label class="form-label"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">{{ form.login.label }}</font></font>
            </label>
            {{form.login}}
            <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">Вимагається дійсний номер телефону.</font></font>
            </div>
        </div>
        <p></p>
        <div class="col-md-5">
            <label class="form-label"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">{{ form.password.label }}</font></font></label>
            {{form.password}}
            <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">Вимагається дійсний пароль.</font></font>
            </div>
        </div>
    </div>
    <p></p>
        <div style="container-fluid text-center display: inline-block">
            <button class="btn btn-sm  text-white" style="font-size: 12px; background-color: #558787;  " type="submit">
                Підтвердити
            </button>
            {% if reestr %}
            <a class="btn btn-sm text-white" href="{% url 'reestraccountuser' %}" role="button"
               style="font-size: 12px; background-color: #558787; height=12;">{{compl}}</a>
            {% endif %}
        </div>

    </form>

</div>

{% endblock %}