{% extends 'diagnoz/shablonpage.html' %}

{% block content %}

<nav class="sidebar-sticky  navbar-expand-lg navbar-light bg-light">
    <div class="col">
        <h6>{{reestrinput}}</h6>
    </div>
    <a> Для входу до кабінету введіть показники облікового запису</a>

</nav>
<form class="needs-validation" method="POST" novalidate="">
    {% csrf_token %}
    <div class="row g-3">
        <div class="col-md-2">
            <label class="form-label"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">{{ form.login.label }}</font></font>
            </label>
            {{form.login}}
            <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">Вимагається дійсний номер телефону.</font></font>
            </div>
        </div>
        <p></p>
        <div class="col-md-2">
            <label class="form-label"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">{{ form.password.label }}</font></font></label>
            {{form.password}}
            <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">Вимагається дійсний пароль.</font></font>
            </div>
        </div>
    </div>
    <p></p>
    <button class="w-30 h-13 btn btn-primary btn-lg" type="submit"><font style="font-size: 14px;"><font
            style="vertical-align: inherit;">Підтвердити</font></font></button>
</form>
{% if reestr %}
<a> Для створення облікового запису натисніть на кнопку "Зареєструватися"</a><p></p>
<div class="col">
    <a class="btn btn-primary" href="{% url 'reestraccountuser' %}" role="button" style="font-size: 14px;">{{compl}}</a>
</div>
{% endif %}
<p></p>
<div class="col">
    <a class="btn btn-primary" href="{{backurl}}" role="button" style="font-size: 14px;">Скасувати запит</a>
</div>

{% endblock %}