{% extends 'diagnoz/shablonmeny.html' %}
{% block nav %}
<div class="container-fluid text-center">
<div class="col">
    <p>{{medzaklad}}</p>
    <p>{{piblikar}}</p>
    <p>Розклад приймання пацієнтів для обстеження</p>
</div>
</div>
<form class="needs-validation" method="POST" novalidate="">
    {% csrf_token %}
    {{forms.as_p}}
    <div class="row g-3">
        <div class="col-md-2">
            <label class="form-label"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">{{ form.vivsitmonth.label }}</font></font>
            </label>
            {{form.vivsitmonth}}
        </div>
        <div class="col-md-2">
            <label class="form-label"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">{{ form.vivsitweekday.label }}</font></font>
            </label>
            {{form.vivsitweekday}}
        </div>
        <p></p>
        <div class="col-md-2">
            <label class="form-label"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">{{ form.begindays.label }}</font></font></label>
            {{form.begindays}}
        </div>
        <div class="col-md-2">
            <label class="form-label"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">{{ form.enddays.label }}</font></font></label>
            {{form.enddays}}
        </div>
        <p></p>
        <div class="col-md-2">
            <label class="form-label"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">{{ form.begintimeofday.label }}</font></font></label>
            {{form.begintimeofday}}
        </div>
        <div class="col-md-2">
            <label class="form-label"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">{{ form.endtimeofday.label }}</font></font></label>
            {{form.endtimeofday}}
        </div>
        <div class="col-md-2">
            <label class="form-label"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">{{ form.duration.label }}</font></font></label>
            {{form.duration}}
        </div>
    </div>
    <p></p>
    <button class="btn btn-sm text-white" type="submit">
        <font style="font-size: 12px; background-color: #558787; height=12;">Зберегти</font>
    </button>
</form>
<div style="display: inline-block">
    <a class="btn btn-sm text-white" href="{% url backurl %}" role="button"
       style="font-size: 12px; background-color: #558787; height=12;">Скасувати запит</a>
</div>
{% endblock %}
