{% extends 'diagnoz/shablonmeny.html' %}
{% block nav %}
<div class="container-fluid text-center">
<div class="col">
    <p>{{medzaklad}}</p>
    <p>{{piblikar}}</p>
    <p>Розклад приймання пацієнтів для обстеження</p>
</div>
</div>
<div class=" container-fluid text-center  ">
    <form class="needs-validation mx-auto" method="POST" novalidate="">
    {% csrf_token %}
    {{forms.as_p}}
        <div class="row g-3 text-center">
            <div class="row text-center d-flex justify-content-center">
        <div class="col-md-2">
            <label class="form-label"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">{{ form.vivsitmonth.label }}</font></font>
            </label>
            {{form.vivsitmonth}}
        </div>
        <div class="col-md-2">
            <label class="form-label"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">{{ form.vivsitweekday.label }}</font></font>
            </label>
            {{form.vivsitweekday}}
        </div>
        </div>
        <p></p>
            <div class="row text-center d-flex justify-content-center">
        <div class="col-md-2">
            <label class="form-label"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">{{ form.begindays.label }}</font></font></label>
            {{form.begindays}}
        </div>
                <div class="col-md-3">
            <label class="form-label"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">{{ form.enddays.label }}</font></font></label>
            {{form.enddays}}
        </div>
            </div>
        <p></p>
            <div class="row text-center d-flex justify-content-center">
        <div class="col-md-2">
            <label class="form-label"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">{{ form.begintimeofday.label }}</font></font></label>
            {{form.begintimeofday}}
        </div>
        <div class="col-md-2">
            <label class="form-label"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">{{ form.endtimeofday.label }}</font></font></label>
            {{form.endtimeofday}}
        </div>
        <div class="col-md-2">
            <label class="form-label"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">{{ form.duration.label }}</font></font></label>
            {{form.duration}}
        </div>
            </div>
    </div>
    <p></p>
        <div class="container-fluid text-center" style="display: inline-block">
            <button class="btn btn-sm  text-white" style="font-size: 12px; background-color: #558787;  "
                    type="submit">Зберегти
            </button>
        </div>
</form>
</div>

{% endblock %}
