{% extends 'diagnoz/shablonnologin.html' %}
{% block title %}SEAM{% endblock %}
{% block nav %}
<div class="container">
    <p class="fs-5 text-center ">Про застосування СЕАМ для відвідувача</p> <!---text-muted--->
    <p class="text-center ">Містить опис термінів та перелік послуг і їх призначення.</p>
    <p class="fs-5">Терміни:</p>
    <a class="fw-semibold text-decoration-none text-black">Відвідувач</a> <a>- це користувач що немає зареєстрованого
    профілю в СЕАМ.</a><br>
    <a class="fw-semibold text-decoration-none text-black">Пацієнт</a><a> - це користувач, який має зареєстрований
    профіль в СЕАМ, також може мати свій кабінет.</a><br>
    <a class="fw-semibold text-decoration-none text-black">Профіль пацієнта</a><a> - це введені в СЕАМ обов'язкові дані:
    Ім'я, призвіще та номер контактного телефону,
    необов'язкові: професія, зріст, вага, поштовий індекс, адреса електронної пошти.</a><br>
    <a class="fw-semibold text-decoration-none text-black">Попередній діагноз</a><a> - це назва захворювання, яке
    визначено за результатом проведення діагностики нездужання.</a><br>
    <a class="fw-semibold text-decoration-none text-black">Профільний лікар</a><a> - це лікар, який за спеціальністю
    лікує захворювання визначене попереднім діагнозом.</a><br>
    <a class="fw-semibold text-decoration-none text-black">Сімейний лікар</a><a> - це лікар, який допомагає визначити
    захворювання та у разі необхідності направити
    до профільного лікаря.</a>
    <p class="fs-5">Перелік послуг: </p>
    <a class="fw-semibold text-decoration-none text-black">Проведення діагностики</a><a> - це послуга що визначає
    попередній діагноз, пропонує рекомендації щодо подальших дій,
    та запис на обстеження до профільного або сімейного лікаря. Запис до профільного або сімейного лікаря
    здійснюється на підставі попереднього діагнозу, який визначено за результатами діагностики та зареєстрованих даних
    про пацієнта,
    що формують його профіль. Реєстрація даних що формують профіль пацієнта здійснюється після вибору профільного або
    сімейного лікаря.</a><br>
    <a class="fw-semibold text-decoration-none text-black">Напрямки діагностики</a><a> - це послуга що надає довідкову
    інформацію про перелік діагнозів, які може визначити СЕАМ.</a><br>
    <a class="fw-semibold text-decoration-none text-black">Профільні лікарні</a><a> - це послуга що надає перелік
    лікарень до яких СЕАМ може направити пацієнта за результатами
    діагностики.</a><br>
    <a class="fw-semibold text-decoration-none text-black">Запит про обстеження пацієнта</a><a> - це послуга що надає
    довідкову інформацію, на підставі його профілю, про наявність записів на
    обстеження у лікаря сформованих за результатами діагностики.</a>
</div>
{% endblock %}