{% extends 'diagnoz/shablonnologin.html' %}
{% block title %}SEAM{% endblock %}
{% block nav %}
<div class="container">
    <p class="fs-4 text-center ">Положення про застосування</p> <!---text-muted--->
    <p>Містить опис термінів, їх призначення та мету застосування наведених у переліку послуг.</p>
    <p>Відвідувач - це користувач що немає зареєстрованого профілю в СЕАМ.</p>
    <p>Пацієнт - це користувач, який має зареєстрований профіль в СЕАМ, також може мати свій кабінет. </p>
    <p>Профіль пацієнта - це введені в СЕАМ обов'язкові дані: Ім'я, призвіще та номер контактного телефону,
        необов'язкові: професія,
        зріст, вага, поштовий індекс, адреса електронної пошти.</p>
    <p>Попередній діагноз - це назва захворювання, яке визначено за результатом проведення діагностики нездужання. </p>
    <p>Профільний лікар - це лікар, який за спеціальністю лікує захворювання визначене попереднім діагнозом. </p>
    <p>Сімейний лікар - це лікар, який допомагає визначити захворювання та у разі необхідності направити
        до профільного лікаря.</p>

    <p class="fs-4 text-center ">Мета застосування послуг: </p>
    <p>Проведення діагностики це послуга що визначає попередній діагноз, пропонує рекомендації щодо подальших дій,
        та запис на обстеження до профільного або сімейного лікаря.
    <p>Запис до профільного або сімейного лікаря здійснюється на підставі попереднього діагнозу,
        який визначено за результатами діагностики та зареєстрованих даних про пацієнта, що формують його профіль.</p>
    <p>Реєстрація даних що формують профіль пацієнта здійснюється після вибору профільного або сімейного лікаря.
    <p>Напрямки діагностики це послуга що надає довідкову інформацію про перелік діагнозів, які може визначити СЕАМ.</p>
    <p>Профільні лікарні це послуга що надає перелік лікарень до яких СЕАМ може направити пацієнта за результатами
        діагностики.</p>
    <p>Обстеження пацієнта це послуга що надає довідкову інформацію, на підставі його профілю, про наявність записів на
        обстеження
        у лікаря сформованих за результатами діагностики.</p>
</div>
{% endblock %}