{%  extends 'diagnoz/shablonnologin.html' %}
{% block title %}SEAM{% endblock %}
{% block nav %}
<div class="container">
    <div class="card shadow">
        <div class="card-body">
            <div class="col-mb-3 ">
                <p class="fs-5 text-center ">Основні заходи долікарняної допомоги при болі у грудях при кашлі</p>
                <a class="fw-semibold text-decoration-none text-black">Необхідно сісти або лягти у зручному
                    положенні,</a>
                <a> (краще напівсидячи з опорою під спину з піднятою головою, щоб зменшити тиск на грудну клітку та
                    полегшити дихання).</a><br>

                <a class="fw-semibold text-decoration-none text-black">Забезпечити доступ свіжого повітря.</a>
                <a> Відкрити вікна, розстебнути тісний комір, звільнити від одягу, що стискає. </a><br>

                <a class="fw-semibold text-decoration-none text-black">Рясне тепле питво (чай з медом або лимоном, вода,
                    морси),</a>
                <a> допомагає розрідити мокротиння і знизити сухість у горлі. Зволожити повітря, якщо повітря в
                    приміщенні сухе.
                    Можна застосувати теплі компреси на грудну клітку, щоб розслабити бронхи та зменшити біль у
                    м'язах.</a><br>
                <a class="fw-semibold text-decoration-none text-black">Якщо біль виник внаслідок удару або падіння,</a>
                <a>забезпечити нерухомість грудної клітки. При закритих травмах можна прикласти холодний компрес та
                    не приймати жодних ліків самостійно без призначення лікаря.</a><br>
                <a class="fw-semibold text-decoration-none text-black">Якщо біль викликаний м'язовим напруженням</a>
                <a> (біль у ребрах після сильного кашлю), можна прийняти безрецептурні знеболювальні, наприклад,
                    парацетамол або ібупрофен. </a><br>
                <a class="fw-semibold text-decoration-none text-black"> Негайно викликати швидку допомогу (103):</a><br>
                <a> - Раптовий, гострий або нестерпний біль.</a><br>
                <a> - Задишка, відчуття нестачі повітря (частота дихання >30/хв).</a><br>
                <a> - Біль віддає в плече, руку, спину, щелепу.</a><br>
                <a> - Біль супроводжується запамороченням, нудотою, втратою свідомості.</a><br>
                <a> - Посиніння губ або обличчя або сильна слабкість. </a><br>
                <a> - Поява кровохаркання (мокротиння з кров'ю).</a><br>
                <a> - Висока температура, яка не збивається. </a><br>

                <a class="fw-semibold text-decoration-none text-black"> Забороняється :</a><br>
                <a> - Приймати будь-які антибіотики без призначення лікаря.</a><br>
                <a> - Прогрівати грудну клітку при високій температурі.</a><br>
                <a class="fst-italic text-decoration-none text-black" style="font-size: 15px;">Примітка: Якщо людина
                    втратила
                    свідомість і дихання відсутнє, негайно розпочати серцево-легеневу реанімацію (30 натискань на грудну
                    клітку глибина 5–6 см/ 2 вдихи, з частотою 100–120 на хвилину).</a><br>
                <p></p>
            </div>
            <div class="container-fluid text-center" style="display: inline-block">
                <a class="btn btn-sm text-white rounded-pill" href="{{ reason_url }}?q={{ search_reason }}"
                   rel="noopener noreferrer" role="button"
                   style="font-size: 12px; background-color: #558787; height=12;" target="_blank">Більше тут...</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}