{% extends 'diagnoz/shablonmeny.html' %}
{% block nav %}

<div class="container-fluid text-center">
    <p>{{iduser}}</p>
    <h5>{{pacient}}</h5>
    <h5> {{compl}} </h5>
    <p>{{namediagnoz}}</p>

</div>
    {% block detalinglist %}
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Характер прояву</th>
        </tr>
        </thead>
        <tbody>
    {% for item in detalinglist %}
    <tr>
        <td><a aria-current="page" class="nav-link" href=""><font
                style="vertical-align: inherit;">{{item.detailsInterview}}</font></a></td>
    </tr>
    {% endfor %}
        </tbody>
    </table>
    {% endblock %}


<div class="container-fluid text-center" style="display: inline-block">
    <a class="btn btn-sm text-white" href="{% url backurl %}" role="button"
       style="font-size: 12px; background-color: #558787; height=12;">Повернутися</a>
</div>


{% endblock %}