{% extends 'diagnoz/shablonpage.html' %}
{% block content %}

<div class="container-fluid  text-center">
    <p>{{medzaklad}}</p>
        <p>{{piblikar}}</p>

</div>
<div class="container-fluid">

    <p>Поточний діагноз : {{workdiagnoz}}</p>


    {% block list %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Перелік питань належної симптоматики, які визначають попередній діагноз</th>
                </tr>
                </thead>
                <tbody>
    {% for item in listwork %}
    <tr>
        <td><a aria-current="page" class="nav-link" href=""><font
                style="vertical-align: inherit;">{{item.detailsInterview}} </font></a></td>
    </tr>
    {% endfor %}
                </tbody>
            </table>
    {% endblock %}

</div>

<a class="btn btn-primary" href="{% url backurl %}" role="button" style="font-size: 14px;">Далі</a>
{% endblock %}