{% extends 'diagnoz/shablonnologin.html' %}
{% block nav %}

<div class="container-fluid  text-center">
    <h6>{{iduser}}</h6>
    <p>{{medzaklad}}</p>
    <p>{{piblikar}}</p>
    <p>Поточний діагноз : {{namediagnoz}}</p>
</div>
{% block list %}
<p>Перелік питань належної симптоматики, які визначають попередній діагноз</p>
<div class="table-container" style="max-height: 400px; overflow-y: auto;">
    <!--<div class="col vh-100 overflow-auto container-fluid text-start">-->
    <table class="table table-striped table-hover table-bordered">

    <tbody>
    {% for item in listwork %}
    <tr>
        <td><a aria-current="page" class="nav-link" href=""><font
                style="vertical-align: inherit;">{{item.detailsInterview}} </font></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
<div class="container-fluid  text-center" style="display: inline-block ">
    <a class="btn btn-sm text-white rounded-pill" href="{% url backurl %}" role="button"
       style="font-size: 12px; background-color: #558787; height=12;">Повернутися</a>
</div>

{% endblock %}