{% extends 'diagnoz/shablonmeny.html' %}
{% block nav %}

<div class="container-fluid text-center">
    <h5>{{iduser}}</h5>
    <h5>{{pacient}}</h5>
    <h5> {{compl}} </h5>
    <p>{{namediagnoz}}</p>

</div>
    {% block detalinglist %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Характер прояву</th>
        </tr>
        </thead>
        <tbody>
    {% for item in detalinglist %}
    <tr>
        <td><a aria-current="page" class="nav-link" href=""><font
                style="vertical-align: inherit;">{{item.detailsInterview}}</font></a></td>
    </tr>
    {% endfor %}
        </tbody>
    </table>
    {% endblock %}


<!---    <div style="display: inline-block">
        <a class="btn btn-primary" href="{% url 'receptinterwiev' %}" role="button" style="font-size: 14px;">Початок
            опитування</a>
        <a class="btn btn-primary" href="{% url backurl %}" role="button" style="font-size: 14px;">Вийти</a>
    </div> --->


{% endblock %}