{% extends 'diagnoz/shablonpage.html' %}
{% block content %}
<div class="container-fluid">
    {% include 'diagnoz/shablonzaglinterview.html' %}
    <h6> {{ compl }} </h6>
    <div class="row row-cols-auto">
        <div class="col">
    {% block detalinglist %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Деталі прояву</th>
                </tr>
                </thead>
                <tbody>
    {% for item in detalinglist %}
    <tr>
        <td><a aria-current="page" class="nav-link"
       href="{% url 'selectdetaling' item.kodDetailing%}"><font
                style="vertical-align: inherit;">{{item.nameDetailing}}</font></a></td>
    </tr>

    {% endfor %}
                </tbody>
            </table>
    {% endblock %}
        </div>
    </div>
</div>
<div style="display: inline-block">
    <p></p>
    <a class="btn btn-primary" href="{% url 'receptinterwiev' %}" role="button">Початок опитування</a>
    <a aria-current="page" class="btn btn-primary" href="{% url 'enddetaling' %}" role="button">{{next}}</a>
</div>
{% endblock %}
