{% extends 'diagnoz/shablonpage.html' %}

{% block content %}

<div class="container-fluid">
    {% include 'diagnoz/shablonzaglinterview.html' %}
    <h6> {{ compl }} </h6>
    <div class="row row-cols-auto">
        <div class="col">
    {% block featurelist %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Деталі прояву</th>
                </tr>
                </thead>
                <tbody>
                {% for item in featurelist %}
                <tr>
                    <td><a aria-current="page" class="nav-link"
                           href="{% url 'featurespisok' item.keyComplaint item.keyFeature %}"><font
                            style="vertical-align: inherit;">{{item.name}}</font></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
    {% endblock %}
        </div>
{% endblock %}
    </div>
</div>
<div style="display: inline-block">
    <p></p>
    <a class="btn btn-primary" href="{% url 'receptinterwiev' %}" role="button" style="font-size: 14px;">Початок
        опитування</a>
    <a aria-current="page" class="btn btn-primary" href="{% url 'nextgrdetaling' %}" role="button"
       style="font-size: 14px;">{{next}}</a>
</div>