{% extends 'diagnoz/shablonpage.html' %}

{% block content %}

<div class="container-fluid">
    {% include 'diagnoz/shablonzaglinterview.html' %}
    <h6> {{ compl }} </h6>
    {% block featurelist %}
    {% for item in featurelist %}
    <a aria-current="page" class="nav-link"
       href="{% url 'featurespisok' item.keyComplaint item.keyFeature %}"><font
            style="vertical-align: inherit;">{{item.name}}</font></a>

    {% endfor %}
    {% endblock %}
</div>
{% endblock %}
<div style="display: inline-block">
    <p></p>
    <a class="text-decoration-none text-reset" href="{% url 'receptinterwiev' %}">
        <img height="20" src="/static/diagnoz/img/backleft.png" style="float: left" width="20"> </a>
    <a aria-current="page" class="text-decoration-none " href="{% url 'nextgrdetaling' %}"> ] [ {{next}} ]</a>
</div>