{% extends 'diagnoz/shablonpage.html' %}
{% block content %}

<div class="container-fluid">
    <div class="col">
        <h6>{{iduser}}</h6>
        <a class="bg-white text-primary text-decoration-none" href="{% url 'contentinterwiev' %}">[ Зміст опитування
            ]</a>
    </div>
</div>

<div class="container-fluid">
    <div class="row row-cols-auto">
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <!---                <th scope="col">Кабінет лікаря</th> --->
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><p>{{ pacient }}</p></td>
                </tr>
                <tr>
                    <td><p>{{ shapka }}</p></td>
                </tr>
                <tr>
                    <td><p>{{ medzaklad }}</p></td>
                </tr>
                <tr>
                    <td><p>{{ likar }}</p></td>
                </tr>
                <tr>
                    <td><p>{{ datereception }}</p></td>
                </tr>
                <tr>
                    <td><p>{{ diagnoz }}</p></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div style="display: inline-block">

        <a>{{ podval }}</a>
        <a class="text-decoration-none bg-white text-primary " href="{% url 'saveraceptionlikar' %}">[ Так ] </a>
        <a class="text-decoration-none bg-white text-primary " href="{% url backurl %}"> [ Ні ]</a>
    </div>
</div>

{% endblock %}