{% extends 'diagnoz/shablonnologin.html' %}
{% block nav %}

<div class="container-fluid text-center">
    <h6>{{iduser}}</h6>
    <div class="container-fluid text-center" style="display: inline-block">
        <a class="btn btn-sm text-white" href="{% url 'contentinterwiev' %}" role="button"
           style="font-size: 12px; background-color: #558787; height=12;">Зміст опитування</a>
    </div>
</div>
<table class="table text-center">
    <tbody>
    {% if backurl != 'likar' %}
    <tr>
        <td><p>{{ pacient }}</p></td>
    </tr>
    {% endif %}
    <tr>
        <td><p>{{ shapka }}</p></td>
    </tr>

    <tr>
        <td><p>{{ medzaklad }}</p></td>
    </tr>
    <tr>
        <td><p>{{ likar }}</p></td>
    </tr>
    {% if backurl == 'likar' %}
    <tr>
        <td><p>{{ pacient }}</p></td>
    </tr>
    {% endif %}
    <tr>
        <td><p>{{ datereception }}</p></td>
    </tr>
    <tr>
        <td><p>{{ diagnoz }}</p></td>
    </tr>

    </tbody>
</table>


<div class="container-fluid text-center" style="display: inline-block">
    <a class="btn btn-sm text-white" href="{% url 'saveraceptionlikar' %}" role="button"
       style="font-size: 12px; background-color: #558787; height=12;">Зберегти опитування</a>
    <a class="btn btn-sm text-white" href="{% url 'receptprofillmedzaklad' %}" role="button"
       style="font-size: 12px; background-color: #558787; height=12;">Записати до іншого профільного лікаря</a>
</div>

{% endblock %}