{% extends 'diagnoz/shablonpage.html' %}
{% block content %}

<div class="container-fluid text-center">
        <h6>{{iduser}}</h6>
    <div class="container">
        <a class="btn btn-sm btn-primary" href="{% url 'contentinterwiev' %}" role="button"
           style="font-size: 14px;">Зміст опитування</a>
    </div>
            <table class="table">

            <tbody>
                <tr>
                    <td><p>{{ pacient }}</p></td>
                </tr>
                <tr>
                    <td><p>{{ shapka }}</p></td>
                </tr>
                <tr>
                    <td><p>{{ medzaklad }}</p></td>
                </tr>
                <tr>
                    <td><p>{{ likar }}</p></td>
                </tr>
                <tr>
                    <td><p>{{ datereception }}</p></td>
                </tr>
                <tr>
                    <td><p>{{ diagnoz }}</p></td>
                </tr>

                </tbody>
            </table>


    <div style="display: inline-block">

        <a>{{ podval }}</a>
        <a class="btn btn-primary" href="{% url 'saveraceptionlikar' %}" role="button" style="font-size: 14px;">Так</a>
        <a class="btn btn-primary" href="{% url backurl %}" role="button" style="font-size: 14px;">Ні</a>
    </div>
</div>

{% endblock %}