{% extends 'diagnoz/shablonpage.html' %}

{% block content %}

<div class="container-fluid">
    {% include 'diagnoz/shablonzaglinterview.html' %}
    <h6> {{ compl }} </h6>
    <div class="row row-cols-auto">
        <div class="col">
    {% block detalinglist %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Деталі прояву</th>
                </tr>
                </thead>
                <tbody>
                {% for item in detalinglist %}
                <tr>
                    <td><a aria-current="page" class="nav-link"
                           href="{% url 'selectgrdetaling' item.kodDetailing%}"><font
                            style="vertical-align: inherit;">{{item.nameGrDetailing}}</font></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
    {% endblock %}
        </div>
    </div>
</div>
<div style="display: inline-block">
    <p></p>

    <a class="text-decoration-none text-reset" href="{% url 'receptinterwiev' %}">
        <img height="20" src="/static/diagnoz/img/backleft.png" style="float: left" width="20"> </a>
    <a aria-current="page" class="text-decoration-none " href="{% url 'enddetaling' %}"> ] [ {{next}} ]</a>
</div>
{% endblock %}
