{% extends 'diagnoz/shablonmeny.html' %}
{% block nav %}

<div class="container-fluid text-center">
    <div class="col">
        <p>{{medzaklad}}</p>
        <p>{{piblikar}}</p>
    </div>
</div>
<div class="container-fluid">
    <p>Перелік робочих напрямків діагностики захворювань</p>

    {% block list %}
    {% for item in complaintlist %}

    <a aria-current="page" class="nav-link" href="{% url 'addgrupdiagnoz'  item.icd  %} "><font
            style="vertical-align: inherit;"> {{item.nameGrDiagnoz}} </font></a>

    {% endfor %}
    {% endblock %}
</div>
<!---<a class="btn btn-primary" href="{% url backurl %}" role="button" style="font-size: 14px;">Повернутися</a>--->

{% endblock %}
