{% extends 'diagnoz/shablonmeny.html' %}
{% block title %}SEAM{% endblock %}
{% block nav %}

<div class="col justify-content-md-center">
    <div class="col-md-auto">
        <a class="text-primary text-decoration-none" href="{% url 'reception' %}">
            <font style="font-size: 35px;"><font style="vertical-align: inherit;">Гість</font></font></a>
    </div>
    <div class="col-md-auto">
        <a class="text-primary text-decoration-none" href="{% url 'pacient' %}" style="font-size: 35px;">Пацієнт</a>
    </div>
    <div class="col-md-auto">
        <a class="text-primary text-decoration-none" href="{% url 'likar' %}" style="font-size: 35px;">Лікарь</a>
    </div>
    </div>

{% endblock %}

