{% extends 'diagnoz/layout.html' %}

{% block title %}SEAM{% endblock %}


{% block content %}
<div class="features">
    <h1>Диференційна діагностика стану нездужання людини-CEAM</h1>
    <p>СЕАМ призначена для визначення поточного стану здоров’я людини, яка страждає від того або іншого нездужання</p>
    <p>СЕАМ є одним з автоматизованих способів профілактики та раннього діагностування захворювання людини без контакту
        з лікарем</p>
    <p>СЕАМ проводить діагностику шляхом послідовного опитування пацієнта. Процес опитування пацієнта здійснюється на
        підставі його власних больових відчуттів та взаємопов’язаних з цим послідовностей симптомів</p>
    <p>Процес опитування побудовано таким чином що відповідає потребам збору анамнезу подібного тому що здійснює лікар
        при обстежені пацієнтів. Він містить напрацьовані у медичній практиці клініко - анамнестичні дані щодо більшості
        нозологічних форм та експертні діагностичні схеми визначення діагнозів нездужання.</p>
    <p>За результатами опитування виводиться один або декілька попередніх діагнозів та пропонується запис
        на прийом до сімейного або профільного лікаря.</p>

    <a aria-current="page" class="nav-link" href="{% url 'glavmeny' %}">Далі</a>
</div>


{% endblock %}


