{% extends 'diagnoz/shablonmeny.html' %}
{% block title %}SEAM{% endblock %}
{% block nav %}
{% include 'diagnoz/kaducey.html' %}
<p></p>
<div class="container text-center">
    <div class="col justify-content-md-center">
        <div class="col-md-auto">
            <a class="text-primary text-decoration-none" href="{% url 'reception' %}">
                <font style="font-size: 40px;"><font style="vertical-align: inherit;">Гість</font></font></a>
        </div>
        <p></p>
        <div class="col-md-auto">
            <a class="text-primary text-decoration-none" href="{% url 'pacient' %}" style="font-size: 40px;">Пацієнт</a>
        </div>
        <p></p>
        <div class="col-md-auto">
            <a class="text-primary text-decoration-none" href="{% url 'likar' %}" style="font-size: 40px;">Лікарь</a>
        </div>
    </div>
</div>
{% endblock %}

