{% extends 'diagnoz/shablonnologin.html' %}
{% block nav %}

<div class="container-fluid text-center">
    <p>{{medzaklad}}</p>
    <p>{{piblikar}}</p>
    <p>Перелік робочих діагнозів за напрямком {{icdgrup}}</p>
    <h6>Для перегляду змісту опитування, яке визначає попередній діагноз необхідно натиснути на відповідний рядок</h6>
</div>
{% block list %}
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Перелік робочих напрямків діагностики захворювань</th>
    </tr>
    </thead>
    <tbody>
    {% for item in complaintlist %}
    <tr>
        <td><a aria-current="page" class="nav-link" href="{% url 'contentinterview'  item.kodProtokola  %}"><font
                style="vertical-align: inherit;">
            {{item.nameDiagnoza}} </font></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% endblock %}