{% extends 'diagnoz/shablonpage.html' %}
{% block content %}
<div class="container-fluid  text-center">
        <p>{{medzaklad}}</p>
        <p>{{piblikar}}</p>
    <h6>Перегляд проведених опитувань</h6>
    <h6>Для перегляду деталей необхідного опитування натисніть на відповідний рядок</h6>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Дата опитування</th>
            <th>Пацієнт</th>
            <th>Попередній діагноз</th>
        </tr>
        </thead>
        <tbody>
        {% for item in complaintlist %}
        <tr>
            <td><a class="nav-link"
                   href="{% url 'profilinterview' item.kodProtokola  item.dateDoctor  item.dateInterview %}">
                {{item.dateInterview }}</a></td>
            <td><a class="nav-link"
                   href="{% url 'profilinterview' item.kodProtokola  item.dateDoctor  item.dateInterview %}">
                {{item.resultDiagnoz }}</a></td>
            <td><a class="nav-link"
                   href="{% url 'profilinterview' item.kodProtokola  item.dateDoctor  item.dateInterview %}">
                {{item.nameInterview }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="display: inline-block">
        <a class="btn btn-primary" href="{% url backurl %}" role="button" style="font-size: 14px;">Повернутися</a>
    </div>
</div>

{% endblock %}


