{% extends 'diagnoz/shablonmeny.html' %}
{% block title %}SEAM{% endblock %}
{% block nav %}

<div class="col justify-content-md-center">
    <div class="col-md-auto">
        <a class="text-primary text-decoration-none" href="{% url 'likarprofil' %}">
            <font style="font-size: 35px;"><font style="vertical-align: inherit;">Профіль</font></font></a>

    </div>
    <div class="col-md-auto">
        <a class="text-primary text-decoration-none" href="{% url 'likarinterwiev' %}"
           style="font-size: 35px;">Провести діагностику</a>

    </div>
    <div class="col-md-auto">
        <a class="text-primary text-decoration-none" href="{% url 'likarlistinterwiev' %}"
           style="font-size: 35px;">Перегляд опитувань</a>
    </div>
    <div class="col-md-auto">
        <a class="text-primary text-decoration-none" href="{% url 'likarreceptionpacient' %}"
           style="font-size: 35px;">Розклад обстеження пацієнтів</a>
    </div>
    <div class="col-md-auto">
        <a class="text-primary text-decoration-none" href="{% url 'likarvisitngdays' %}"
           style="font-size: 35px;">Розклад роботи</a>
    </div>
    <div class="col-md-auto">
        <a class="text-primary text-decoration-none" href="{% url 'likarworkdiagnoz' %}"
           style="font-size: 35px;">Робочі напрямки</a>
    </div>
    <div class="col-md-auto">
        <a class="text-primary text-decoration-none" href="{% url 'likarlibdiagnoz' %}"
           style="font-size: 35px;">Загальна бібліотека напрямків</a>
    </div>
    <div style="display: inline-block">
        <p></p>
        <a class="btn btn-primary" href="{% url 'glavmeny' %}" role="button" style="font-size: 14px;">Вийти з
            кабінету</a>
    </div>

</div>

{% endblock %}
