{% extends 'diagnoz/shablonpage.html' %}

{% block content %}

<nav class="sidebar-sticky  navbar-expand-lg navbar-light bg-light">
    <div class="col">
        {% if likar %}
        <p>{{piblikar}}</p>
        {% else %}
        <h6>{{iduser}}</h6>
        {% endif %}
        <a href="{% url 'contentinterwiev' %}">Зміст опитування</a>
    </div>
</nav>
<div class="container-fluid">
    <h6>Для вибору дати та часу співбесіди з лікарем натисніть на відповідний рядок</h6>
    <div class="row row-cols-auto">
        <div class="col">

            {% block list %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>День неділі</th>
                    <th>Дата прийому</th>
                    <th>Час прийому</th>
                </tr>
                </thead>
                <tbody>
    {% for item in complaintlist %}
    {% if item.onOff == "Так" %}
    <tr>
        <td><a aria-current="page" class="nav-link"
       href="{% url 'selectvisitingdays' item.timeVizita  item.dateVizita  item.daysOfTheWeek  %}"><font
                style="vertical-align: inherit;"> {{ item.daysOfTheWeek }} </font></a></td>
        <td><a aria-current="page" class="nav-link"
               href="{% url 'selectvisitingdays' item.timeVizita  item.dateVizita  item.daysOfTheWeek  %}"><font
                style="vertical-align: inherit;"> {{ item.dateVizita }} </font></a></td>
        <td><a aria-current="page" class="nav-link"
               href="{% url 'selectvisitingdays' item.timeVizita  item.dateVizita  item.daysOfTheWeek  %}"><font
                style="vertical-align: inherit;"> {{item.timeVizita}}</font></a></td>

    </tr>
    {% endif %}
    {% endfor %}
                </tbody>
            </table>
    {% endblock %}
        </div>
    </div>
</div>
<a class="text-decoration-none" href="{% url backurl %}">[ Далі ]</a>
{% endblock %}