{% extends 'diagnoz/shablonpage.html' %}

{% block content %}

<nav class="sidebar-sticky  navbar-expand-lg navbar-light bg-light">
    <div class="col">
        <h6>Кабінет лікаря</h6>
    </div>
    <div class="navbar-nav">
        <ul class="navbar-nav mr-auto flex-column">
            <li class="nav-item active">
                <a aria-current="page" class="nav-link" href="{% url 'contentinterwiev' %}"><font
                        style="vertical-align: inherit;"><font style="vertical-align: inherit; font-size: 20px;">Зміст
                    опитування</font></font></a>
            </li>
        </ul>
    </div>
</nav>

{% endblock %}

