{% extends 'diagnoz/shablonpage.html' %}

{% block content %}

<nav class="sidebar-sticky  navbar-expand-lg navbar-light bg-light">
    <div class="col">
        {% if directdiagnoz %}
        {% else %}
        <p>{{medzaklad}}</p>
        <p>{{piblikar}}</p>
        {% endif %}
    </div>
</nav>
<div class="container-fluid">
    <p>Перелік робочих напрямків діагностики захворювань</p>
    {% if listapinull %}
    <p>{{сontentnull}}</p>
    {% else %}
    <h6>Для перегляду діагнозів за напрямком необхідно натиснути на відповідний рядок</h6>
    {% block list %}
    {% for item in complaintlist %}
    {% if directdiagnoz %}
    <a aria-current="page" class="nav-link" href=""><font style="vertical-align: inherit;">
        {{item.icdGrDiagnoz}} </font></a>
    {% else %}
    <a aria-current="page" class="nav-link" href="{% url 'workdiagnozlikar' item.kodDoctor  item.icd  item.id %}"><font
            style="vertical-align: inherit;"> {{ item.icdGrDiagnoz }} </font></a>
    {% endif %}
    {% endfor %}
    {% endblock %}
    {% endif %}
</div>
<div style="display: inline-block">
    {% if directdiagnoz %}
    {% else %}
    <a class="text-decoration-none" href="{% url 'addworkdiagnoz' %}">[ Додати ]</a>
    {% endif %}
    <a class="text-decoration-none" href="{% url backurl %}">[ Далі ]</a>
</div>

{% endblock %}


