{% extends 'diagnoz/shablonpage.html' %}

{% block content %}
<div class="col">
    <h6>{{medzaklad}}</h6>
</div>
<div class="container-fluid">
    <h4 class="mb-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Профіль лікаря</font></font>
    </h4>
    <h6>{{name}}</h6>
    <h6>{{specialnoct}}</h6>
    <h6>{{uriwebDoctor}}</h6>
    <h6>{{telefon}}</h6>
    <h6>{{email}}</h6>
    <a class="text-decoration-none" href="{% url 'likarnapryamok' %}">{{napryamok}}</a>
</div>
<a class="text-decoration-none" href="{% url 'likar' %}">[ Далі ]</a>
{% endblock %}