{% extends 'diagnoz/shablonpage.html' %}

{% block content %}
    <div class="col">
        <p>{{medzaklad}}</p>
        <p>{{piblikar}}</p>
        <p>Перегляд проведених опитувань</p>
    </div>

<div class="container-fluid">
    <h6>Для перегляду деталей необхідного опитування натисніть на відповідний рядок</h6>
    <table>
        <thead>
        <tr>
            <th>Дата опитування</th>
            <th>Пацієнт</th>
            <th>Попередній діагноз</th>
        </tr>
        </thead>
        <tbody>
        {% for item in complaintlist %}
        <tr>
            <td><a class="nav-link"
                   href="{% url 'profilinterview' item.kodProtokola  item.dateDoctor  item.dateInterview %}">{{
                item.dateInterview }}</a></td>
            <td><a class="nav-link"
                   href="{% url 'profilinterview' item.kodProtokola  item.dateDoctor  item.dateInterview %}">{{
                item.resultDiagnoz }}</td>
            <td><a class="nav-link"
                   href="{% url 'profilinterview' item.kodProtokola  item.dateDoctor  item.dateInterview %}">{{
                item.nameInterview }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <div class="col">
        <a href="{{backurl}}">Далі</a>
    </div>
{% endblock %}


