{% extends 'diagnoz/shablonnologin.html' %}
{% block nav %}

<div class="container-fluid text-center">
    {% if directdiagnoz %}
    <h6>{{iduser}}</h6>
    {% if listapinull %}
    <p>{{medzaklad}}</p>
    <p>{{piblikar}}</p>
    {% endif %}
    {% else %}
    <h6>{{iduser}}</h6>
    <p>{{medzaklad}}</p>
    <p>{{piblikar}}</p>
    {% endif %}
    {% if listapinull %}
    <p>{{сontentnull}}</p>
    {% endif %}
</div>
{% block list %}
<div class="container-fluid text-center">
    <h6>Перелік робочих напрямків діагностики захворювань</h6>
    <div class="container-fluid text-center justify-content-center d-flex align-items-center">
        <div style="display: inline-block">
            {% if directdiagnoz %}
            {% else %}
            <a class="btn btn-sm text-white rounded-pill rounded-pill text-center justify-content-center d-flex align-items-center"
               href="{% url 'addworkdiagnoz' %}" role="button"
               style="font-size: 13px; background-color: #558787; width: 90px; height: 20px;">Додати</a>
            {% endif %}
        </div>
    </div>
    {% if listapinull %}
    {% else %}
    {% if directdiagnoz %}
    <p>Для перегляду профільних медзакладів за напрямком необхідно натиснути на відповідний рядок</p>
    {% else %}
    <p>Для перегляду діагнозів за напрямком необхідно натиснути на відповідний рядок</p>
    {% endif %}
    {% endif %}
</div>
<div class="table-container" style="max-height: 500px; overflow-y: auto;">
    <!--<div class="col vh-100 overflow-auto container-fluid text-start">-->
    <table class="table table-striped table-hover table-bordered">

    <tbody>
    {% for item in complaintlist %}
    <tr>
        {% if directdiagnoz %}
        {% if listapinull %}
        <td><a aria-current="page" class="nav-link" href="" style="vertical-align: inherit;">
            {{item.icdGrDiagnoz}} </a></td>
        {% else %}
        <td><a aria-current="page" class="nav-link" href="{% url 'profillmedzaklad'  item.icdGrDiagnoz  %}"><font
                style="vertical-align: inherit;"> {{item.icdGrDiagnoz}} </font></a></td>
        {% endif %}
        {% else %}
        <td><a aria-current="page" class="nav-link"
               href="{% url 'workdiagnozlikar' item.kodDoctor  item.icdGrDiagnoz  item.id %}"><font
                style="vertical-align: inherit;"> {{ item.icdGrDiagnoz }} </font></a></td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}


{% endblock %}


