{% extends 'diagnoz/shablonnologin.html' %}
{% block nav %}

<div class="container-fluid text-center">
    <p>{{medzaklad}}</p>
    <p>{{piblikar}}</p>
    <p>Розклад приймання пацієнтів для обстеження</p>
</div>
{% if error %}
<div class="container-fluid text-center">
    <p>{{errmsg}}</p>
</div>
{% else %}
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>День неділі</th>
        <th>Дата прийому</th>
        <th>Час прийому</th>
        <th>Прийом дійсний</th>
    </tr>
    </thead>
    <tbody>
    {% for item in complaintlist %}
    <tr>
        <td><a class="nav-link" href="">{{item.daysOfTheWeek }}</a></td>
        <td><a class="nav-link" href="">{{item.dateVizita }}</a></td>
        <td><a class="nav-link" href="">{{item.timeVizita }}</a></td>
        <td><a class="nav-link" href="">{{item.onOff }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endif %}
<div class="container text-center  justify-content-center d-flex align-items-center" style="display: inline-block">
    {% if profil != "guest" %}
    <a class="btn btn-sm text-white rounded-pill text-center justify-content-center d-flex align-items-center"
       href="{% url 'addvisitingdays' %}" role="button"
       style="font-size: 15px; background-color: #558787; width: 90px; height: 20px; ">Додати</a>
    {% endif %}
</div>

{% endblock %}

