{% extends 'diagnoz/shablonpage.html' %}

{% block content %}
<div class="col">
    <h6>{{medzaklad}}</h6>
</div>
<div class="container-fluid">
    <div class="row row-cols-auto">
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Профіль лікаря</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><p>{{name}}</p></td>
                </tr>
                <tr>
                    <td><p>{{specialnoct}}</p></td>
                </tr>
                <tr>
                    <td><p>{{uriwebDoctor}} </p></td>
                </tr>
                <tr>
                    <td><p>{{telefon}}</p></td>
                </tr>
                <tr>
                    <td><p>{{email}}</p></td>
                </tr>
                <tr>
                    <td><a class="text-decoration-none" href="{% url 'likarnapryamok' %}">{{napryamok}}</a></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>
<div style="display: inline-block">
    <a class="btn btn-primary" href="{% url 'profillikarform' %}" role="button">Корегувати</a>
    <a class="btn btn-primary" href="{% url 'likar' %}" role="button">Повернутися</a>
</div>
{% endblock %}