{% extends 'diagnoz/shablonnologin.html' %}
{% block title %}SEAM{% endblock %}
{% block nav %}
<!--{% include 'diagnoz/kaducey.html' %}-->
<div class="container text-center">
    <div class="col justify-content-md-center">
        <p></p>
        <div class="col-md-auto">
            <h2>Кабінет лікаря</h2>
        </div>
        <p><br></p>
        <div class="col-md-auto">
            <a class="text-primary text-decoration-none" href="{% url 'likarprofil' %}">
                <font style="font-size: 25px;"><font style="vertical-align: inherit;">Профіль</font></font></a>
        </div>
        <p></p>
        <div class="col-md-auto">
            <a class="text-primary text-decoration-none" href="{% url 'likarinterwiev' %}"
               style="font-size: 25px;">Провести діагностику</a>

        </div>
        <p></p>
        <div class="col-md-auto">
            <a class="text-primary text-decoration-none" href="{% url 'likarlistinterwiev' %}"
               style="font-size: 25px;">Перегляд опитувань</a>
        </div>
        <p></p>
        <div class="col-md-auto">
            <a class="text-primary text-decoration-none" href="{% url 'likarreceptionpacient' %}"
               style="font-size: 25px;">Розклад обстеження пацієнтів</a>
        </div>
        <p></p>
        <div class="col-md-auto">
            <a class="text-primary text-decoration-none" href="{% url 'likarvisitngdays' %}"
               style="font-size: 25px;">Розклад роботи</a>
        </div>
        <p></p>
        <div class="col-md-auto">
            <a class="text-primary text-decoration-none" href="{% url 'likarworkdiagnoz' %}"
               style="font-size: 25px;">Робочі напрямки</a>
        </div>
        <p></p>
        <div class="col-md-auto">
            <a class="text-primary text-decoration-none" href="{% url 'likarlibdiagnoz' %}"
               style="font-size: 25px;">Загальна бібліотека напрямків</a>
        </div>

    </div>
</div>
{% endblock %}
