{% extends 'diagnoz/shablonpage.html' %}

{% block content %}

<div class="col">
        <p>{{medzaklad}}</p>
        <p>{{piblikar}}</p>
        <p>Перегляд проведених опитувань</p>
</div>

<div class="container-fluid">
    <h6>Для перегляду деталей обстеження необхідного пацієнта натисніть на відповідний рядок</h6>
    <table>
        <thead>
        <tr>
            <th>Дата візиту</th>
            <th>Пацієнт</th>
            <th>Попередній діагноз</th>
        </tr>
        </thead>
        <tbody>
    {% for item in complaintlist %}
    <tr>
        <td><a class="nav-link"
               href="{% url 'profilinterview' item.kodProtokola  item.dateVizita  item.dateInterview %}">
            {{item.dateVizita}}</a></td>
        <td><a class="nav-link"
               href="{% url 'profilinterview' item.kodProtokola  item.dateVizita  item.dateInterview %}">
            {{item.namePacient}}</a></td>
        <td><a class="nav-link"
               href="{% url 'profilinterview' item.kodProtokola  item.dateVizita  item.dateInterview %}">
            {{item.nameDiagnoza}}</a></td>
    </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
<a class="text-decoration-none" href="{% url backurl %}">[ Далі ]</a>
{% endblock %}
