{% extends 'diagnoz/shablonnologin.html' %}
{% block title %}SEAM{% endblock %}
{% block nav %}
<div class="container text-center">
    <p class="fs-3 ">Диференційна діагностика стану нездужання людини-CEAM</p>
    <p>Система Експертна Аналітична Медична</p>
</div>
<div class="container ">
    <div class="card shadow">
        <div class="card-body">
            <div class="col-mb-3 ">
    <a class="fw-semibold text-decoration-none text-black">Основна послуга CЕАМ</a>
    <a> - це експертно аналітичне опитування людини з метою визначення попереднього діагнозу її нездужання без контакту
        з лікарем.</a>
                <a>Питання містять запити про власні больові відчуття (закладеність носа, кашель, головний біль,
            біль у серці, попереку, животі таке інше).</a>
                <a>За результатами опитування виводиться один або декілька попередніх діагнозів,
            рекомендації щодо подальших дій при зверненні до лікарів - фахівців, та пропонується запис
            на обстеження у спеціалізованого або сімейного лікаря.</a>
                <a>Провести опитування (діагностику) можуть відвідувач, пацієнт та лікар під час обстеження пацієнта,
                    кожний у
            своїх
            закладках.</a><br>
    <a class="fw-semibold text-decoration-none text-black">CЕАМ</a>
    <a>пропонує свої інформаційні, експертні та аналітичні послуги відвідувачам, пацієнтам та лікарям.
        Для кожного з них визначено певний перелік послуг, які наведено у відповідних закладках. Перелік
        закладок наведено на головній сторінці.</a><br>
    <a class="fw-semibold text-decoration-none text-black">Відвідувач</a>
    <a>- це користувач що немає зареєстрованого профілю в СЕАМ він діє анонімно і може користуватися послугами тільки в
        закладці "Відвідувач".</a><br>
    <a class="fw-semibold text-decoration-none text-black">Пацієнт</a>
    <a> - це користувач, який має зареєстрований профіль в СЕАМ. Він може користуватися послугами в закладці
        "Відвідувач".
        При реєстрації свого облікового запису для нього доступні послуги в закладці "Пацієнт".</a><br>
    <a class="fw-semibold text-decoration-none text-black">Лікарі</a>
    <a> - це фахівці, яки розподіляються на спеціалізованих та сімейних. Вони можуть користуватися послугами СЕАМ
        в статусі лікаря, в закладці "Лікар", тільки після реєстрації облікового запису та свого профілю, який
        контролюється Наглядовою Радою.</a><br>


            </div>
        </div>
    </div>
</div>
{% endblock %}