{% extends 'diagnoz/shablonnologin.html' %}
{% block title %}SEAM{% endblock %}
{% block nav %}
<div class="container">
    <p class="fs-4 text-center ">Про СЕАМ для лікаря</p> <!---text-muted--->
    <p class="text-center ">Містить перелік та призначення термінів і послуг.</p>
    <p class="fw-semibold text-decoration-none text-black text-center">Терміни:</p>
    <a class="fw-semibold text-decoration-none text-black">Відвідувач</a> <a>- це користувач що немає зареєстрованого
    профілю в СЕАМ.</a><br>
    <a class="fw-semibold text-decoration-none text-black">Пацієнт</a><a> - це користувач, який має зареєстрований
    профіль в СЕАМ, також може мати свій кабінет.</a><br>
    <a class="fw-semibold text-decoration-none text-black">Профіль пацієнта</a><a> - це введені в СЕАМ обов'язкові дані:
    Ім'я, призвіще та номер контактного телефону,
    необов'язкові: професія, зріст, вага, поштовий індекс, адреса електронної пошти.</a><br>
    <a class="fw-semibold text-decoration-none text-black">Попередній діагноз</a><a> - це назва захворювання, яке
    визначено за результатом проведення діагностики нездужання.</a><br>
    <a class="fw-semibold text-decoration-none text-black">Спеціалізований лікар</a><a> - це лікар-фахівець, який
    займається за спеціальністю діагностикою та лікуванням захворювання пацієнтів що визначене попереднім діагнозом.</a><br>
    <a class="fw-semibold text-decoration-none text-black">Сімейний лікар</a><a> - це лікар загальної практики, який
    здійснює діагностику і допомагає визначити захворювання та у разі необхідності здійснює лікування або направляє до
    профільного лікаря.</a><br>
    <a class="fw-semibold text-decoration-none text-black">Кабінет лікаря</a><a> - містить відокремлений перелік послуг,
    якими може скористуватися тільки власник цього кабінету. Вся інформація про лікаря захищена від доступу інших
    користувачів.</a>
    <p></p>
    <p class="fw-semibold text-decoration-none text-black text-center ">Перелік послуг: </p>
    <a class="fw-semibold text-decoration-none text-black">Профіль</a><a> - це послуга що надає інформацію,
    яку містить профіль лікаря (ПІБ, професія, напрямки роботи та й таке інше.</a><br>
    <a class="fw-semibold text-decoration-none text-black">Проведення діагностики</a><a> - це послуга що визначає
    попередній діагноз, пропонує рекомендації щодо подальших дій щодо звернення до профільних лікарів,
    та запис на обстеження до профільного або сімейного лікаря. Запис до профільного або сімейного лікаря
    здійснюється тільки результатами діагностики. Запис завершується реєстрацією даних про пацієнта, що формують його
    профіль.
    Реєстрація даних що формують профіль пацієнта здійснюється після вибору профільного або сімейного лікаря.</a><br>
    <a class="fw-semibold text-decoration-none text-black">Перегляд опитувань</a><a> - це послуга що надає довідкову
    інформацію про перелік опитувань, що містять попередній діагноз, які виконав лікар при прийманні пацієнтів.</a><br>
    <a class="fw-semibold text-decoration-none text-black">Розклад обстеження пацієнтів</a><a> - це послуга що надає
    перелік
    пацієнтів, які провели діагностику, зареєстрували свій профіль та записалися на обстеження.</a><br>
    <a class="fw-semibold text-decoration-none text-black">Розклад роботи</a><a> - це послуга що дозволяє сформувати
    розклад
    приймання пацієнтів на обстеження після проведення діагностики.</a><br>
    <a class="fw-semibold text-decoration-none text-black">Робочі напрямки</a><a> - це послуга що надає довідкову
    інформацію про перелік діагнозів, за якими лікар здійснює лікування.</a><br>
    <a class="fw-semibold text-decoration-none text-black">Загальна бібліотека напрямків</a><a> - це послуга що надає
    довідкову
    інформацію про перелік діагнозів, які може визначити СЕАМ.</a><br>
</div>
{% endblock %}