{% extends 'diagnoz/shablonnologin.html' %}
{% block title %}SEAM{% endblock %}
{% block nav %}


<div class="container-fluid text-center">
    <h6>Новини розвитку СЕАМ</h6>
    <table class="table ">
        <tbody>
        <tr>
            <td class="text-start" colspan="2">
                <a class="sm-4 text-dark text-decoration-none ">
                    30.12.2025 р.<br>
                    Закінчено формування БД опитуваннь, які визначають попередні діагнози в напрямках нейрохірургії.</a>
            </td>
        </tr>
        <tr>
            <td class="text-start" colspan="2">
                <a class="sm-4 text-dark text-decoration-none ">
                    30.08.2025 р.<br>
                    Закінчено формування БД опитуваннь, які визначають попередні діагнози в напрямках імунології та
                    алергології.</a>
            </td>
        </tr>
        <tr>
            <td class="text-start" colspan="2">
                <a class="sm-4 text-dark text-decoration-none ">
                    15.06.2021 р.<br>
                    Підставою для створення Системи є зусилля НАМН України, МОЗ України,
                    провідних українських вчених та спеціалістів, які закріплені в наступних документах:</a>
            </td>
        </tr>
        <tr>
            <td class="text-start" colspan="2">
                <a class="sm-4 text-dark text-decoration-none ">
                    - Постанова Президії Національної Академії медичних наук України від 01.10.2012 р. № 12/2,
                    про створення корпоративного Інтернет – сервісу НАМН України.</a>
            </td>
        </tr>
        <tr>
            <td class="text-start" colspan="2">
                <a class="sm-4 text-dark text-decoration-none ">
                    - Концепція розвитку системи громадського здоров’я в Україні схвалена розпорядженням
                    Кабінету Міністрів України від 09.03.2016р. та оприлюднена на офіційному сайті МОЗ України.</a>
            </td>
        </tr>
        <tr>
            <td class="text-start" colspan="2">
                <a class="sm-4 text-dark text-decoration-none ">
                    - Концепція інформатизації у сфері охорони здоров'я України на 2013-2018 роки,
                    розроблена Державним Агентством з питань науки, інновацій інформатизації України.</a>
            </td>
        </tr>
        <tr>
            <td class="text-start" colspan="2">
                <a class="sm-4 text-dark text-decoration-none ">
                    - Розпорядження Кабінету Міністрів України від 28 грудня 2020 р. № 1671-р
                    «Концепція розвитку електронної охорони здоров’я» з терміном впровадження до 2025р.</a>
            </td>
        </tr>
        <tr>
            <td class="text-start" colspan="2">
                <a class="sm-4 text-dark text-decoration-none ">
                    - МЕМОРАНДУМ Про співпрацю та взаємодію в питаннях створення пілотного проекту дистанційної
                    експертної інформаційно-аналітичної системи в галузі алергології (СЕАМ) 15.06.2021р.
                    між ПП "Оріон-С" та Клінікою імунології та алергології «Форпост».</a>
            </td>
        </tr>

        </tbody>
    </table>
</div>

{% endblock %}