{% extends 'diagnoz/shablonpage.html' %}

{% block content %}
<div class="col">
    {% if likar %}
    <p>{{piblikar}}</p>
    <p>{{pacient}}</p>
    {% else %}
    <h6>{{iduser}}</h6>
    {% endif %}
    <h6>Перегляд проведених опитувань</h6>
</div>

<div class="container-fluid">
    <h6>Для перегляду деталей необхідного опитування натисніть на відповідний рядок</h6>
    {% block list %}
    {% for item in complaintlist %}
    <a aria-current="page" class="nav-link" href="{% url 'profilinterview' item.kodProtokola   %}"><font
            style="vertical-align: inherit;"> {{ item.dateInterview }} : {{ item.nameInterview }}</font></a>
    {% endfor %}
    {% endblock %}

    <a class="text-decoration-none" href="{{backurl}}">Далі</a>
</div>
{% endblock %}
