{% extends 'diagnoz/shablonnologin.html' %}
{% block title %}SEAM{% endblock %}
{% block nav %}
<!--{% include 'diagnoz/kaducey.html' %}-->
<div class="container text-center">
    <div class="row">

        <div class="d-flex justify-content-center align-items-start border shadow p-3 mb-5 bg-white rounded overflow-y: auto">
            <div class="col justify-content-md-center">
                <h4>Кабінет пацієнта :</h4>
                <p></p>
                <nav class="navbar navbar-light bg-light">
                    <div class="container-fluid  ">
                        <!-- Вертикальное меню -->
                        <ul class="navbar-nav flex-column text-start">
                            <li class="nav-item mb-2">
                                <a class="text-primary text-decoration-none " href="{% url 'manualpacient' %}"
                                   style="font-size: 23px;">- СЕАМ для пацієнта</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="text-primary text-decoration-none " href="{% url 'profilpacient' %}"
                                   style="font-size: 23px;">- Профіль</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="text-primary text-decoration-none " href="{% url 'pacientinterwiev' %}"
                                   style="font-size: 23px;">- Провести діагностику</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="text-primary text-decoration-none " href="{% url 'pacientlistinterwiev' %}"
                                   style="font-size: 23px;">- Перегляд опитувань</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="text-primary text-decoration-none " href="{% url 'pacientreceptionlikar' %}"
                                   style="font-size: 23px;">- Запис на обстеження</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="text-primary text-decoration-none " href="{% url 'pacientstanhealth' %}"
                                   style="font-size: 23px;">- Тиск, пульс, аналізи</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="text-primary text-decoration-none " href="{% url 'selectfamilylikar' %}"
                                   style="font-size: 23px;">- Приписані лікарі</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>


{% endblock %}

