{% extends 'diagnoz/shablonnologin.html' %}
{% block nav %}
<div class=" container-fluid text-center d-flex justify-content-center align-items-center ">

    <!--    <h6>{{iduser}}</h6>-->
    <h5 class="mb-3">Профіль пацієнта</h5>
    <p></p>
    <div class="card shadow">
        <div class="card-body">
            <div class="col-mb-3  text-center">
                <form class="needs-validation" id="form" method="POST" novalidate="">
        {% csrf_token %}
        <div class="row g-2">
            <div class="row text-center d-flex justify-content-center">
                <div class="col-md-3">
                    <label class="form-label">{{form.tel.label}}</label>
                    {{ form.tel }}
                </div>
            </div>
            <div class="row text-center d-flex justify-content-center">
                <div class="col-sm-3">
                    <label class="form-label">{{ form.name.label }}</label>
                    {{form.name}}

                </div>
                <div class="col-sm-3">
                    <label class="form-label">{{ form.surname.label }}</label>
                    {{form.surname}}
                </div>
            </div>
            <div class="row text-center d-flex justify-content-center">
                <div class="col-md-2">
                    <label class="form-label">{{form.gender.label}}</label>
                    {{form.gender}}
                </div>
                <div class="col-md-2">
                    <label class="form-label">{{form.age.label}}</label>
                    {{form.age}}
                </div>
                <div class="col-md-3">
                    <label class="form-label">{{form.profession.label}}</label>
                    {{form.profession}}
                </div>
            </div>
            <div class="row text-center d-flex justify-content-center">
                <div class="col-md-2">
                    <label class="form-label">{{form.weight.label}}</label>
                    {{form.weight}}
                </div>

                <div class="col-md-2">
                    <label class="form-label">{{form.growth.label}}</label>
                    {{form.growth}}
                </div>
            </div>
            <div class="row text-center d-flex justify-content-center">
                <div class="col-md-2">
                    <label class="form-label">{{form.pind.label}}</label>
                    {{form.pind}}
                </div>
                <div class="col-md-4">
                    <label class="form-label">{{form.email.label}} </label>
                    {{form.email}}
                </div>
            </div>
            <p></p>
            <div class="container text-center" style="display: inline-block">
                {% if next %}
                <button class="btn btn-sm text-white rounded-pill" style="font-size: 12px; background-color: #558787; height=12;"
                        type="submit">Підтвердити
                </button>
                {% else %}
                <button class="btn btn-sm  text-white rounded-pill"
                        id="submitBtn" style="font-size: 12px; background-color: #558787;  " type="submit">Згода на
                    обробку персональних даних
                </button>
                {% endif %}
            </div>
        </div>
    </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

