{% extends 'diagnoz/shablonpage.html' %}

{% block content %}
<div class="col">
    {% if likar %}
    <p>{{piblikar}}</p>
    <p>{{pacient}}</p>
    {% else %}
    <h6>{{iduser}}</h6>
    {% endif %}
    <h6>Перегляд проведених опитувань</h6>
</div>

<div class="container-fluid">
    <h6>Для перегляду деталей необхідного опитування натисніть на відповідний рядок</h6>
    <table>
        <thead>
        <tr>
            <th>Дата опитування</th>
            <th>Попередній діагноз</th>
        </tr>
        </thead>
        <tbody>
        {% for item in complaintlist %}
        <tr>
            <td><a class="nav-link"
                   href="{% url 'profilinterview' item.kodProtokola  item.dateDoctor  item.dateInterview %}">
                {{item.dateInterview }}</a></td>
            <td><a class="nav-link"
                   href="{% url 'profilinterview' item.kodProtokola  item.dateDoctor  item.dateInterview %}">
                {{item.nameInterview }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="text-decoration-none" href="{{backurl}}">Далі</a>
</div>
{% endblock %}
