{% extends 'diagnoz/shablonpage.html' %}

{% block content %}
<div class="col">
  <p>{{pacient}}</p>
  <h6>Для перегляду опису обраного попереднього діагнозу натисніть на відповідний рядок</h6>
</div>

<div class="container-fluid">
  <h6>Перегляд списку записів обстежень до лікаря</h6>
  <table>
    <thead>
    <tr>
      <th>Лікар</th>
      <th>Дата прийому</th>
      <th>Дата опитування</th>
      <th>Попередній діагноз</th>
    </tr>
    </thead>
    <tbody>
    {% for item in complaintlist %}
    <tr>
      <td><a class="nav-link" href="{% url 'profilinterview' item.kodProtokola  item.dateDoctor  item.dateInterview %}">{{
        item.namelikar }}</a></td>
      <td><a class="nav-link" href="{% url 'profilinterview' item.kodProtokola  item.dateDoctor  item.dateInterview %}">{{
        item.dateDoctor }}</td>
      <td><a class="nav-link" href="{% url 'profilinterview' item.kodProtokola  item.dateDoctor  item.dateInterview %}">{{
        item.dateInterview }}</td>
      <td><a class="nav-link" href="{% url 'profilinterview' item.kodProtokola  item.dateDoctor  item.dateInterview %}">{{
        item.diagnoz }}</td>

    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<a class="text-decoration-none" href="{{backurl}}">Далі</a>
{% endblock %}


