{% extends 'diagnoz/shablonnologin.html' %}
{% block nav %}

<div class="container-fluid text-center">
    <h6>{{iduser}}</h6>
    <h5 class="mb-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Профіль
        пацієнта</font></font></h5>
    <p></p>
    <form class="needs-validation" method="POST" novalidate="">
        {% csrf_token %}
        <div class="row g-2">
            <div class="row text-center d-flex justify-content-center">
                <div class="col-md-3">
                    <label class="form-label"><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">{{form.tel.label}}</font></font>
                    </label>
                    {{form.tel}}
                    <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">Вимагається допустимий номер.</font></font>
                    </div>
                </div>
            </div>
            <div class="row text-center d-flex justify-content-center">
                <div class="col-sm-3">
                    <label class="form-label"><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">{{ form.name.label }}</font></font>
                    </label>
                    {{form.name}}
                    <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">Вимагається дійсне ім'я.</font></font>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="form-label"><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">{{ form.surname.label }}</font></font></label>
                    {{form.surname}}
                    <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">Вимагається дійсне ім'я.</font></font>
                    </div>
                </div>
            </div>
            <div class="row text-center d-flex justify-content-center">
                <div class="col-md-2">
                    <label class="form-label"><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">{{form.gender.label}}</font></font></label>
                    {{form.gender}}
                    <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">Будь ласка зробіть правильний вибір.
                    </font></font></div>
                </div>
                <div class="col-md-2">
                    <label class="form-label"><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">{{form.age.label}}</font></font>
                    </label>
                    {{form.age}}
                    <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">Вкажіть допустимий вік.</font></font>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="form-label"><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">{{form.profession.label}}</font></font></label>
                    {{form.profession}}
                    <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">Вимагається назва професії.</font></font>
                    </div>
                </div>
            </div>
            <div class="row text-center d-flex justify-content-center">
                <div class="col-md-2">
                    <label class="form-label"><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">{{form.weight.label}}</font></font></label>
                    {{form.weight}}
                    <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">Вкажіть допустиму вагу.</font></font>
                    </div>
                </div>

                <div class="col-md-2">
                    <label class="form-label"><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">{{form.growth.label}}</font></font></label>
                    {{form.growth}}
                    <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">Вимагається допустима зріст.</font></font>
                    </div>
                </div>
            </div>
            <div class="row text-center d-flex justify-content-center">
                <div class="col-md-2">
                    <label class="form-label"><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">{{form.pind.label}}</font></font></label>
                    {{form.pind}}
                    <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">Вкажіть допустимий індекс.</font></font>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="form-label"><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">{{form.email.label}} </font></font></label>
                    {{form.email}}
                    <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">
                        Ввеіть дійсну адресу электронної пошти для отримання повідомлення про підтвердження реєстрації.
                    </font></font></div>
                </div>
            </div>
            <p></p>
            <div class="container text-center" style="display: inline-block">
                {% if next %}
                <button class="btn btn-sm text-white" type="submit"><font
                        style="font-size: 12px; background-color: #558787; height=12;">Підтвердити</font>
                </button>
                {% else %}
                <button class="btn btn-sm  text-white" style="font-size: 12px; background-color: #558787;  "
                        type="submit">
                    Згода на обробку персональних даних
                </button>
                {% endif %}


            </div>

        </div>
    </form>
</div>

{% endblock %}