{% extends 'diagnoz/shablonpage.html' %}

{% block content %}
<div class="col">
    <h6>{{iduser}}</h6>
    {% if likar %}
    <p>{{piblikar}}</p>
    <p>{{pacient}}</p>
    {% endif %}
    <h6>Перегляд проведених опитувань</h6>
    <p>Для перегляду деталей необхідного <br>
        опитування натисніть на відповідний рядок</p>
</div>

<div class="container-fluid">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Дата опитування</th>
            <th>Попередній діагноз</th>
        </tr>
        </thead>
        <tbody>
        {% for item in complaintlist %}
        <tr>
            <td><a class="nav-link"
                   href="{% url 'profilinterview' item.kodProtokola  item.dateDoctor  item.dateInterview %}">
                {{item.dateInterview }}</a></td>
            <td><a class="nav-link"
                   href="{% url 'profilinterview' item.kodProtokola  item.dateDoctor  item.dateInterview %}">
                {{item.nameInterview }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
<a class="text-decoration-none" href="{{backurl}}">[ Далі ]</a>
{% endblock %}
