{% extends 'diagnoz/shablonpage.html' %}

{% block content %}
<div class="col">
    <h6>Кабінет пацієнта</h6>
</div>
<div class="col-md-7 col-lg-8">
    <h4 class="mb-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Профіль
        пацієнта</font></font></h4>
    <a> Для створення профілю пацієнта введіть реєстраційні показники</a>
    <form class="needs-validation" method="POST" novalidate="">
        {% csrf_token %}
        <div class="row g-3">
            <div class="col-sm-4">
                <label class="form-label"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">{{ form.name.label }}</font></font>
                </label>
                {{form.name}}
                <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Вимагається дійсне ім'я.</font></font>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="form-label"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">{{ form.surname.label }}</font></font></label>
                {{form.surname}}
                <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Вимагається дійсне ім'я.</font></font>
                </div>
            </div>
            <p>
            <div class="col-md-2">
                <label class="form-label"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">{{form.gender.label}}</font></font></label>
                {{form.gender}}
                <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Будь ласка зробіть правильний вибір.
                </font></font></div>
            </div>
            <div class="col-md-2">
                <label class="form-label"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">{{form.age.label}}</font></font>
                </label>
                {{form.age}}
                <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Вкажіть допустимий вік.</font></font>
                </div>
            </div>
            <div class="col-md-4">
                <label class="form-label"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">{{form.profession.label}}</font></font></label>
                {{form.profession}}
                <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Вимагається назва професії.</font></font>
                </div>
            </div>
            <p>
            <div class="col-md-2">
                <label class="form-label"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">{{form.weight.label}}</font></font></label>
                {{form.weight}}
                <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Вкажіть допустиму вагу.</font></font>
                </div>
            </div>

            <div class="col-md-2">
                <label class="form-label"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">{{form.growth.label}}</font></font></label>
                {{form.growth}}
                <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Вимагається допустима зріст.</font></font>
                </div>
            </div>

            <p>
            <div class="col-md-2">
                <label class="form-label"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">{{form.pind.label}}</font></font></label>
            {{form.pind}}
                <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Вкажіть допустимий індекс.</font></font>
                </div>
            </div>

            <div class="col-md-2">
                <label class="form-label"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">{{form.tel.label}}</font></font>
                </label>
                {{form.tel}}
                <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Вимагається допустимий номер.</font></font>
                </div>
            </div>

            <div class="col-5">
                <label class="form-label"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">{{form.email.label}} </font></font></label>
                {{form.email}}
                <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">
                    Ввеіть дійсну адресу электронної пошти для отримання повідомлення про підтвердження реєстрації.
                </font></font></div>
            </div>
            <p>
                {% if next %}
                <button class="w-40 h-30 btn btn-primary btn-lg" type="submit"><font
                        style="vertical-align: inherit;"><font style="vertical-align: inherit;">Далі</font></font>
                </button>
                {% else %}
                <button class="w-40 h-30 btn btn-primary btn-lg" type="submit"><font
                        style="vertical-align: inherit;"><font style="vertical-align: inherit;">Зберегти</font></font>
                </button>
                {% endif %}
            </p>
        </div>
    </form>
</div>
<div style="display: inline-block">
    <a class="text-decoration-none " href="{% url backurl %}">[ Скасувати запит ]</a>
</div>
{% endblock %}