{% extends 'diagnoz/shablonpage.html' %}

{% block content %}
<div class="col">
  <h6>{{iduser}}</h6>
  <p>{{pacient}}</p>
  <h6>Перегляд списку записів обстежень до лікаря</h6>
  <p>Для перегляду опису обраного попереднього <br>
    діагнозу натисніть на відповідний рядок</p>
</div>

<div class="container-fluid">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Лікар</th>
      <th>Дата прийому</th>
      <th>Дата опитування</th>
      <th>Попередній діагноз</th>
    </tr>
    </thead>
    <tbody>
    {% for item in complaintlist %}
    <tr>
      <td><a class="nav-link" href="{% url 'profilinterview' item.kodProtokola  item.dateDoctor  item.dateInterview %}">{{item.namelikar}}</a>
      </td>
      <td><a class="nav-link" href="{% url 'profilinterview' item.kodProtokola  item.dateDoctor  item.dateInterview %}">{{item.dateDoctor}}</a>
      </td>
      <td><a class="nav-link" href="{% url 'profilinterview' item.kodProtokola  item.dateDoctor  item.dateInterview %}">{{item.dateInterview}}</a>
      </td>
      <td><a class="nav-link" href="{% url 'profilinterview' item.kodProtokola  item.dateDoctor  item.dateInterview %}">{{item.diagnoz}}</a>
      </td>

    </tr>
    {% endfor %}
    </tbody>
  </table>
  <div style="display: inline-block">
    <a class="btn btn-primary" href="{{backurl}}" role="button" style="font-size: 14px;">Повернутися</a>
  </div>
</div>

{% endblock %}


