{% extends 'diagnoz/shablonpage.html' %}

{% block content %}
<div class="col">
    <h6>Кабінет пацієнта</h6>
</div>
<div class="col-md-7 col-lg-8">
    <h4 class="mb-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Профіль
        пацієнта</font></font></h4>
    <form class="needs-validation" method="POST" novalidate="">
        {% csrf_token %}
        {{forms.as_p}}
        <div class="row g-3">
            <div class="col-sm-4">
                <label class="form-label" for="firstName"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Ім'я</font></font></label>
                <input class="form-control" id="firstName" name="firstName" placeholder="" required="" type="text"
                       value="">
                <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Вимагається дійсне ім'я.</font></font>
                </div>
            </div>

            <div class="col-sm-4">
                <label class="form-label" for="lastName"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Прізвище</font></font></label>
                <input class="form-control" id="lastName" name="lastName" placeholder="" required="" type="text"
                       value="">
                <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Вимагається дійсне ім'я.</font></font>
                </div>
            </div>

            <p>
            <div class="col-md-2">
                <!---                  <label class="form-label" for="gender"><font style="vertical-align: inherit;"><font
                                       style="vertical-align: inherit;">Стать</font></font></label>


                                 <select class="form-select" id="gender" required="" name ="gender">
                                       <option value="чол."><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вибрати...</font></font>
                                       </option>
                                   </select>--->
                {{gender}}
                <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Будь ласка зробіть правильний вибір.
                </font></font></div>
            </div>

            <div class="col-md-2">
                <label class="form-label" for="age"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Вік</font></font></label>
                <input class="form-control" id="age" name="age" placeholder="" required="" type="number" value="10">
                <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Вкажіть допустимий вік.</font></font>
                </div>
            </div>

            <div class="col-md-4">
                <label class="form-label" for="profession"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Професія</font></font></label>
                <input class="form-control" id="profession" name="profession" placeholder="" required="" type="text">
                <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Вимагається назва професії.</font></font>
                </div>
            </div>


            <p>
            <div class="col-md-2">
                <label class="form-label" for="weight"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Вага</font></font></label>
                <input class="form-control" id="weight" name="weight" placeholder="" required="" type="number"
                       value="25">
                <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Вкажіть допустиму вагу.</font></font>
                </div>
            </div>

            <div class="col-md-2">
                <label class="form-label" for="body_height"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Зріст</font></font></label>
                <input class="form-control" id="body_height" name="body_height" placeholder="cm" required="" type="number"
                       value="125">
                <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Вимагається допустима вага.</font></font>
                </div>
            </div>

            <p>
            <div class="col-md-2">
                <label class="form-label" for="post_index"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Поштовий індекс</font></font></label>
                <input class="form-control" id="post_index" name="post_index" placeholder="" required="" type="text"
                       value="0">
                <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Вкажіть допустимий індекс.</font></font>
                </div>
            </div>

            <div class="col-md-3">
                <label class="form-label" for="mob_telefon"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Телефон</font></font></label>
                <input class="form-control" id="mob_telefon" placeholder=" xxx xx xx xxx xx" required="" type="number">
                <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Вимагається допустимий номер.</font></font>
                </div>
            </div>

            <p>
            <div class="col-5">
                <label class="form-label" for="email"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Электронна пошта </font></font><span
                        class="text-body-secondary"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">(Email)</font></font></span></label>
                <input class="form-control" id="email" placeholder="ви@example.com" type="email">
                <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">
                    Ввеіть дійсну адресу электронної пошти для отримання повідомлення про підтвердження реєстрації.
                </font></font></div>
            </div>
            <p>
                <button class="w-45 btn btn-primary btn-lg" type="submit"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Зберегти</font></font></button>
            </p>
        </div>


    </form>
</div>
{% endblock %}