{% extends 'diagnoz/shablonpage.html' %}

{% block content %}
<div class="container-fluid text-center">
    <h5>{{pacient}}</h5>
    <h6>{{iduser}}</h6>

    <h6>Перегляд списку показників стану здоров'я</h6>
    <table>
        <thead>
        <tr>
            <th>Дта вимірювання</th>
            <th>Пульс</th>
            <th>Тиск</th>
            <th>Температура тіла</th>
        </tr>
        </thead>
        <tbody>
        {% for item in complaintlist %}
        <tr>
            <td><a class="nav-link" href="">{{item.dateAnaliza}}</a></td>
            <td><a class="nav-link" href="">{{item.pulse}}</a></td>
            <td><a class="nav-link" href="">{{item.pressure}}</a></td>
            <td><a class="nav-link" href="">{{item.temperature}}</a></td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="display: inline-block">
        <a class="btn btn-primary" href="{{backurl}}" role="button" style="font-size: 14px;">Повернутися</a>
    </div>
</div>

{% endblock %}

