{% extends 'diagnoz/shablonnologin.html' %}
{% block title %}SEAM{% endblock %}
{% block nav %}
<div class="row container-fluid text-center">
    <h5>Згода на обробку персональних даних</h5>
    <div style="display: inline-block">
        <a class="btn btn-sm text-white" href="{% url 'reception' %}" role="button"
           style="font-size: 12px; background-color: #558787; height=12;">Даю згоду</a>
    </div>
    <p></p>
    <div class="col-md-6 vh-100 overflow-auto container-fluid text-start">
        <p>
            Дійсним підтверджую, що проставляючи відмітку в реєстраційних формах та
            вносячи свої дані до них для початку користування або отримання сервісів, як
            тестових так і комерційних, за допомогою системи СЕАМ, я, відповідно до Закону
            України «Про захист персональних даних» від 01 червня 2010 року, No 2297-VI,
            надаю ПП «Оріон-С» згоду на:<br>
            - обробку персональних даних, отриманих із первинних джерел та за допомогою
            сервісів ідентифікації, з метою визначеною в пункті 4 цієї Згоди;<br>
            - передачу зазначених персональних даних третім особам;<br>
            - обробку таких персональних даних в історичних та статистичних цілях;<br>
            - обробку і зберігання їх протягом строку визначеного в пункті 5 Згоди.<br>
            Одночасно підтверджую, що мене належним чином повідомлено про:<br>
            1. Володільця персональних даних, яким виступає ПП «Оріон-С», який
            знаходиться за адресою яка зазначена на сайті https://seampo-medic.duckdns.org та
            забезпечує належний захист персональних даних відповідно до вимог
            Закону України «Про захист персональних даних»;<br>
            2. Склад та зміст персональних даних, на обробку яких я надаю цю згоду, а
            саме: прізвище, ім’я, по батькові (за наявності), особистий абонентський
            номер телефону, електронну поштову адресу, які може ПП «Оріон-С» отримати з
            сервісів ідентифікації, що будуть також використовуватися;<br>
            3. Мої права, як суб’єкта персональних даних, відповідно до статті 8 Закону
            України «Про захист персональних даних», а саме:<br>
            3.1 знати про джерела збирання, місцезнаходження своїх персональних даних, мету їх обробки;<br>
            3.2 на доступ до своїх персональних даних;<br>
            3.3 пред’являти вмотивовану вимогу володільцю персональних даних із
            запереченням проти обробки своїх персональних даних;<br>
            3.4 пред'являти вмотивовану вимогу щодо зміни або знищення своїх
            персональних даних будь-яким володільцем та розпорядником
            персональних даних, якщо ці дані обробляються незаконно чи є
            недостовірними;<br>
            3.5 знати механізм автоматичної обробки персональних даних;<br>
            3.6 вносити застереження стосовно обмеження права на обробку своїх
            персональних даних під час надання згоди;<br>
            3.7 звертатися із скаргами на обробку своїх персональних даних до
            Уповноваженого або до суду;<br>
            3.8 отримувати інформацію про умови надання доступу до персональних
            даних, зокрема інформацію про третіх осіб, яким передаються
            персональні дані;<br>
            3.9 на захист своїх персональних даних від незаконної обробки та
            випадкової втрати, знищення, пошкодження у зв'язку з умисним
            приховуванням, ненаданням чи несвоєчасним їх наданням, а також на
            захист від надання відомостей, що є недостовірними чи ганьблять
            честь, гідність та ділову репутацію фізичної особи;<br>
            3.10 отримувати не пізніш як за тридцять календарних днів з дня
            надходження запиту, крім випадків, передбачених законом, відповідь
            про те, чи обробляються його персональні дані, а також отримувати
            зміст таких персональних даних;<br>
            3.11 застосовувати засоби правового захисту в разі порушення
            законодавства про захист персональних даних;<br>
            3.12 на захист від автоматизованого рішення, яке має для нього правові
            наслідки;<br>
            3.13 відкликати згоду на обробку персональних даних;<br>
            4. Мету обробки персональних даних, що полягає в забезпеченні належного
            надання послуги користування системою СЕАМ, здійснення фінансово-
            облікових операцій, розрахунків, покращення рівня надання послуг,
            розширення функціоналу системи СЕАМ з метою задоволення потреб у
            користуванні програмою, статистичній та історичній обробці, інформуванні
            про нові пропозиції та продукти, верифікації його даних у відкритих реєстрах
            та інформуванні користувача про перебіг розгляду його заявок на
            користування послугами;<br>
            5. Строк обробки (у тому числі зберігання): протягом надання послуг та не
            менше строку позовної давності з моменту припинення надання послуг
            користування системою СЕАМ, якщо інше не передбачене договором.
            Відповідно до положень національного законодавства обробка в історичних
            та статистичних цілях може здійснюватися після спливу строків зазначених в
            цьому пункті.<br>
            6. Третіх осіб, яким можуть передаватися персональні дані: технічні партнери,
            фінансові партнери, контрагенти ПП «Оріон-С», що забезпечують належне
            надання послуг в системі СЕАМ, та, у визначених законом випадках,
            державні органи. З зазначеними у цьому пункті особами укладається угода
            про нерозголошення та конфіденційність у визначеному законом порядку.
        </p>
    </div>
</div>
{% endblock %}