{% extends 'diagnoz/shablonnologin.html' %}
{% block nav %}

<div class="container-fluid text-center">
    <h6>Кабінет лікаря</h6>
    <h6 class="mb-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Профіль лікаря</font></font>
    </h6>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row g-3">
            <div class="col-sm-4">
                <label class="form-label"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">{{ form.name.label }}</font></font>
                </label>
                {{form.name}}
                <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Вимагається дійсне ім'я.</font></font>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="form-label"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">{{ form.surname.label }}</font></font></label>
                {{form.surname}}
                <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Вимагається дійсне ім'я.</font></font>
                </div>
            </div>
            <p>
            <div class="col-md-4">
                <label class="form-label"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">{{form.specialnoct.label}}</font></font></label>
                {{form.specialnoct}}
                <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Вимагається назва професії.</font></font>
                </div>
            </div>
            <div class="col-md-2">
                <label class="form-label"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">{{form.uriwebDoctor.label}}</font></font></label>
                {{form.uriwebDoctor}}
                <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Вкажіть допустиму вагу.</font></font>
                </div>
            </div>
            <p>

            <div class="col-md-2">
                <label class="form-label"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">{{form.telefon.label}}</font></font>
                </label>
                {{form.telefon}}
                <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Вимагається допустимий номер.</font></font>
                </div>
            </div>

            <div class="col-5">
                <label class="form-label"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">{{form.email.label}} </font></font></label>
                {{form.email}}
                <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">
                    Ввеіть дійсну адресу электронної пошти для отримання повідомлення про підтвердження реєстрації.
                </font></font></div>
            </div>
            <p>
                {% if next %}
                <button class="btn btn-sm text-white" type="submit"><font
                        style="font-size: 12px; background-color: #558787; height=12;">Далі</font>
                </button>
                {% else %}
                <button class="btn btn-sm text-white" type="submit"><font
                        style="font-size: 12px; background-color: #558787; height=12;">Зберегти</font>
                </button>
                {% endif %}
            </p>
        </div>
    </form>
    <div style="display: inline-block">
        <a class="btn btn-sm text-white rounded-pill" href="{% url 'likar' %}" role="button"
           style="font-size: 12px; background-color: #558787; height=12;">Скасувати запит</a>
    </div>
</div>
{% endblock %}