{% extends 'diagnoz/shablonpage.html' %}

{% block content %}

<div class="container-fluid text-center">
        {% if likar %}
    <p>{{piblikar}}</p>
        {% else %}
    <h6>{{iduser}}</h6>
        {% endif %}
        <a class="text-decoration-none" href="{% url 'contentinterwiev' %}">[ Зміст опитування ]</a>
</div>
<div class="container-fluid text-center">


    <table class="table">
                <thead>
                <tr>
                    <th scope="col">Профіль пацієнта</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><p>{{ namepacient }}</p></td>
                </tr>
                <tr>
                    <td><p>{{ namelikar }} </p></td>
                </tr>
                <tr>
                    <td><p>{{ dateinterv }}</p></td>
                </tr>
                <tr>
                    <td><p>{{ datereception }}</p></td>
                </tr>
                <tr>
                    <td><p>{{ diagnoz }} </p></td>
                </tr>
                <tr>
                    <td><p>{{ recomendaciya }}</p></td>
                </tr>
                <tr>
                    <td><p>{{ urlinet }} </p></td>
                </tr>

                </tbody>
            </table>
    <div style="display: inline-block">
    {% if remove %}
    <a class="btn btn-primary" href="{% url removefunc %}" role="button" style="font-size: 14px;">Видалити</a>
    {% endif %}
    <a class="btn btn-primary" href="{% url backurl %}" role="button" style="font-size: 14px;">Повернутися</a>
</div>
</div>
{% endblock %}