{% extends 'diagnoz/shablonnologin.html' %}
{% block title %}SEAM{% endblock %}
{% block nav %}
<div class="container-fluid text-center">
    <h6>Творчий колектив розробників системи СЕАМ</h6>
    <table class="table ">
        <thead>
        <tr>

        </tr>
        </thead>
        <tbody>

        <tr>
            <td class="text-start"><a class="sm-1 text-dark text-decoration-none "><img alt=""
                                                                                        src="/static/diagnoz/img/galina.jpg"
                                                                                        style="width: 80px; height: 100px;"><br>
                Назаренко Галина Іванівна</a></td>
            <td class="text-start"><a class="sm-4 text-dark text-decoration-none ">Кандидат медичних наук.<br>
                Лікар алерголог-імунолог вищої категорії. <br>
                Дитячий алерголог, педіатр.<br> Директор лабораторії "Форпост".</a></td>
        </tr>
        <tr>
            <td class="text-start" colspan="2">
                <a class="sm-4 text-dark text-decoration-none ">
                    Має спеціалізації за напрямками: - алергологія; - дитяча алергологія; - клінічна імунологія;
                    - педіатрія. Провідний спеціаліст в Україні з молекулярної діагностики та лікування алергії.
                    Автор понад 30 наукових статей, методичних рекомендацій, учасник наукових конференцій,
                    з'їздів, симпозіумів.</a>
            </td>
        </tr>
        <tr>
            <td class="text-start"><a class="sm-1 text-dark text-decoration-none "><img alt=""
                                                                                        src="/static/diagnoz/img/fedirko.jpg"
                                                                                        style="width: 100px; height: 100px;"><br>
                Федірко Володимир Олегович</a></td>
            <td class="text-start"><a class="sm-4 text-dark text-decoration-none ">Доктор медичних наук,
                лікар-нейрохірург,<br>
                завідувач відділу клініки субтентеріальної нейроонкології Інституту Нейрохірургії ім. Ромоданова,<br>
                Голова Наглядової Ради Системи СEAM. </a></td>
        </tr>
        <tr>
            <td class="text-start" colspan="2">
                <a class="sm-4 text-dark text-decoration-none ">
                    Основні напрямки діяльності: хірургічне лікування пухлин головного мозку, лікування гідроцефалії,
                    судинних мальформацій
                    (каверном, артеріовенозних мальформацій та аневризм), вроджених аномалій розвитку головного мозку
                    (аномалія Арнольда-Кіарі та інші),
                    операції на черепно-мозкових нервах при нейроваскулярних компресійних синдромах, хірургічне
                    лікування
                    задньої черепної ямки, стовбуру
                    мозку та інших складних локалізацій. А також за напрямком роботи клініки “Краніобазальна
                    нейроонкологія”
                    – Берлін, 1995; Лондон, 1998;
                    Зальцбург, 2003; Ганновер, 2011; Париж, 2012; Анкара, Стамбул, 2012; Страсбург, 2014; Торонто, 2014;
                    Париж, 2015.
                    Приймав участь із доповідями на міжнародних (С.Петербург, Братислава, Тбілісі) європейських (Глазго,
                    Прага) та світових конгресах (Рим, Йокогама).
                    Має друкованих робіт більше 130, монографія 1.</a>
            </td>
        </tr>
        <tr>
            <td class="text-start"><a class="sm-1 text-dark text-decoration-none "><img alt=""
                                                                                        src="/static/diagnoz/img/alex.jpg"
                                                                                        style="width: 80px; height:100px;"><br>
                Стариченко Олександр Павлович</a></td>
            <td class="text-start"><a class="sm-4 text-decoration-none"></a>Інженер - програміст,<br>
                розробник програмного забезпечення,<br> директор ПП "Оріон-С".
            </td>
        </tr>
        <tr>
            <td class="text-start" colspan="2">
                <a class="sm-4 text-dark text-decoration-none ">
                    Проектування та розробка програмного забезпечення,
                    впровадження та супровід програмних комплексів систем управління фінансово господарською діяльністю
                    підприємства. На ринку України в сфері автоматизації з 2001 року. </a>
            </td>
        </tr>
        <tr>
            <td class="text-start"><a class="sm-1 text-dark text-decoration-none "><img alt=""
                                                                                        src="/static/diagnoz/img/genya.png"
                                                                                        style="width: 80px; height: 100px;"><br>
                Стариченко Євгеній Олександрович</a></td>
            <td class="text-start"><a class="sm-4 text-dark text-decoration-none"></a>Інженер - програміст,<br>
                розробник програмного забезпечення,<br> директор ПП "Alt-Tab".
            </td>
        </tr>
        <tr>
            <td class="text-start" colspan="2">
                <a class="sm-4 text-dark text-decoration-none ">
                    Проектування та розробка програмного забезпечення,
                    впровадження та супровід програмних комплексів систем управління фінансово господарською діяльністю
                    підприємства.
                    На ринку України з 2002 року, З 2009 в сфері автоматизації, більш ніж 2500 клієнтів,
                    з яких більше ніж 1200 абоненти, команда, в якій більш ніж 30 співробітників, працює віддалено
                    та на виїздах на всій території України.
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
{% endblock %}