{% extends 'diagnoz/shablonnologin.html' %}
{% block title %}SEAM{% endblock %}

{% block nav %}
<div class="container text-center">
    <p class="fs-3 ">Диференційна діагностика стану нездужання людини-CEAM</p>
    <p>Система Експертна Аналітична Медична</p>
</div>
<div class="container">
    <div class="card shadow">
        <div class="card-body">
            <div class="col-mb-3 ">
    <a class="fw-semibold text-decoration-none text-black">CЕАМ</a>
                <a> - це один із роботизованих способів профілактики та раннього діагностування нездужання людини без
                    контакту
        з лікарем.</a>
                <a> CЕАМ здійснює, в будь-який час, за запитом користувача, диференційну діагностику стану
                    нездужання людини, з метою визначення ймовірного попереднього діагнозу її нездужання.
                    Діагностика здійснюється на підставі питань про власні больові відчуття людини (закладеність носа,
                    кашель, головний біль, біль у серці, попереку, животі таке інше).</a>
    <a>Процес опитування побудовано таким чином що відповідає потребам збору анамнезу подібного тому, що здійснює лікар
        при обстеженні пацієнтів. Він містить напрацьовані у медичній практиці клініко - анамнестичні дані щодо
        більшості нозологічних форм та експертні діагностичні схеми визначення діагнозів нездужання.</a>
                <a>За результатами діагностики виводиться один або декілька ймовірних попередніх діагнозів, відповідні
                    рекомендації щодо подальших дій для отримання лікарської допомоги, та пропонується запис на
                    обстеження до
                    спеціалізованого або сімейного лікаря. У разі реєстрації запису система аналізує за поштовим
                    індексом із профілю пацієнта
                    та встановленим попереднім діагнозом максимально наближене місце розташування медичного закладу до
                    пацієнта та
                    наявність в ньому відповідних лікарів фахівців, в якому пацієнту можуть надати медичну допомогу і
                    виводить цю
                    інформацію на екран монітора.</a><br>
                <a class="fw-semibold text-decoration-none text-black">Що дає СЕАМ?</a><br>
                <a>1. Можливість отримання своєчасної, профільної, кваліфікованої медичної інформаційно –
                    консультативної послуги у вигляді попереднього діагнозу нездужання на ранній і наступній стадіях
                    захворювання.</a><br>
                <a>2. Зменшення безпідставних переходів з клініки в клініку, від одного лікаря до іншого в силу
                    непрофільного та некомпетентного вибору лікаря, або через помилку при самостійному визначенню
                    характеру захворювання.</a><br>
                <a>3. Правдивий попередній діагноз нездужання людини завдяки тому, що він, на відміну від Штучного
                    Інтелекту, сформований на підставі переліку діагностичних питань власного консолідованого досвіду та
                    знань
                    провідних учених і лікарів – фахівців, які побудовані згідно з методом диференційної діагностики
                    вмонтованого в
                    систему.</a><br>
                <a class="fw-semibold text-decoration-none text-black"> Переваги СЕАМ у порівнянні зі Штучним Інтелектом
                    (ШІ).</a><br>
                <a>1. Джерелом даних для СЕАМ, при визначені ймовірного попереднього діагнозу, є перелік діагностичних
                    питань
                    власного консолідованого досвіду та знань провідних учених і лікарів – фахівців, які побудовані
                    згідно з методом диференційної діагностики вмонтованого в систему. ШІ не має такої
                    інформації.</a><br>
                <a>2. СЕАМ, за результатами визначення попереднього діагнозу, пропонує записатися на обстеження до
                    спеціалізованого або сімейного лікаря, якій працює за відповідним напрямком. В ШІ зовсім відсутня
                    така інформація</a><br>
                <a class="fw-semibold text-decoration-none text-black">Ключова особливість: </a>
                <a>Вбудований в СЕАМ інтелектуальний перелік діагностичних питань, які побудовані згідно з методом
                    дистанційної диференціальної діагностики захворювань людини контролюється та тестується Наглядовою
                    Радою лікарів
                    системи СЕАМ.</a><br>
                <a class="fw-semibold text-decoration-none text-black">Склад лікарів,</a>
                <a>які працюють в системі СЕАМ регламентується Наглядовою Радою профільних лікарів що забезпечують
        правдивість визначення попередніх діагнозів нездужання. Голова Наглядової Ради Доктор медичних наук,
        лікар-нейрохірург, завідувач відділу клініки субтентеріальної нейроонкології Інституту Нейрохірургії ім.
        Ромоданова Федірко Володимир Олегович.</a>

    <p></p>
    <a class="fw-semibold text-decoration-none text-black">Всі права захищені.</a>
    <a>Розробник програмного забезпечення: Україна, Київ, ПП "Оріон-С" 2025р. Автор: Олександр
        Стариченко. Контакти: т. +380674012840, +380662938041, mail: staric377@gmail.com, Авторське
        Свідоцтво № 126883. Розробники методу дистанційної диференціальної online діагностики захворювання людини,
        Володимир Федірко, Олександр Стариченко. Авторське Свідоцтво № 59733. Контакти: т.+380677679735.</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}