{% extends 'diagnoz/shablonnologin.html' %}
{% block title %}SEAM{% endblock %}

{% block nav %}
<div class="container text-center">
    <p class="fs-3 ">Диференційна діагностика стану нездужання людини-CEAM</p>
    <p>Система Експертна Аналітична Медична</p>
    <p>CЕАМ призначена для визначення поточного стану здоров’я людини, яка страждає від того або іншого нездужання.</p>
    <p>CЕАМ є одним з автоматизованих способів профілактики та раннього діагностування захворювання людини без контакту
        з лікарем.</p>
    <p>CЕАМ проводить діагностику шляхом послідовного опитування пацієнта. Процес опитування здійснюється на
        підставі власних больових відчуттів пацієнта, та взаємопов’язаних з цим послідовностей симптомів побудованих
        згідно із методом дистанційної диференціальної online діагностики захворювання людини.</p>
    <p>Процес опитування побудовано таким чином що відповідає потребам збору анамнезу подібного тому, що здійснює лікар
        при обстеженні пацієнтів. Він містить напрацьовані у медичній практиці клініко - анамнестичні дані щодо
        більшості
        нозологічних форм та експертні діагностичні схеми визначення діагнозів нездужання. Опитування починається з
        визначення яке у вас нездужання (закладеність носа, кашель, головний біль, біль у серці, попереку, животі таке
        інше), а далі проявляються характер та деталі нездужання.</p>
    <p>За результатами опитування виводиться один або декілька попередніх діагнозів та пропонується запис
        на обстеження до профільного або сімейного лікаря. У разі реєстрації запису система аналізує за поштовим
        індексом із профілю пацієнта та встановленим попереднім діагнозом максимально наближене місце розташування
        медичного
        закладу до пацієнта та наявність в ньому відповідних лікарів фахівців, в якому пацієнту можуть надати медичну
        допомогу і виводить цю інформацію на екран монітора.</p>
    <p>Пацієнт та лікар мають у своєму розпорядженні електронний кабінет де може зберігатися вся статистика
        проведених опитувань, їх профілі, напрямки за якими лікарі здійснюють медичну допомогу, довідки про нездужання
        з якими вони працюють та іншу аналітичну інформацію.</p>
    <p>Склад лікарів, які працюють в системі СЕАМ регламентується Наглядовою Радою профільних лікарів що забезпечують
        правдивість визначення попередніх діагнозів нездужання. Голова Наглядової Ради Доктор медичних наук,
        лікар-нейрохірург, завідувач відділу клініки субтентеріальної нейроонкології Інституту Нейрохірургії ім.
        Ромоданова
        Федірко Володимир Олегович</p>

    <p></p>
    <p>Всі права захищені. Розробник програмного забезпечення: Україна, Київ, ПП "Оріон-С" 2025р. Автор: Олександр
        Стариченко. Контакти: т. +380674012840, +380662938041, mail: staric377@gmail.com, Авторське
        Свідоцтво № 126883. Розробники методу дистанційної диференціальної online діагностики захворювання людини,
        Володимир Федірко, Олександр Стариченко. Авторське Свідоцтво № 59733. Контакти: т.+380677679735.</p>
</div>

{% endblock %}