{% extends 'diagnoz/layout.html' %}

{% block title %}SEAM{% endblock %}


{% block content %}
<div class="features">
    <h1>Диференційна діагностика стану нездужання людини-CEAM</h1>
    <p>СЕАМ призначена для визначення поточного стану здоров’я людини, яка страждає від того або іншого нездужання.</p>
    <p>СЕАМ є одним з автоматизованих способів профілактики та раннього діагностування захворювання людини без контакту.
        з лікарем</p>
    <p>СЕАМ проводить діагностику шляхом послідовного опитування пацієнта. Процес опитування пацієнта здійснюється на
        підставі його власних больових відчуттів та взаємопов’язаних з цим послідовностей симптомів.</p>
    <p>Процес опитування побудовано таким чином що відповідає потребам збору анамнезу подібного тому, що здійснює лікар
        при обстежені пацієнтів. Він містить напрацьовані у медичній практиці клініко - анамнестичні дані щодо більшості
        нозологічних форм та експертні діагностичні схеми визначення діагнозів нездужання. Опитування починається з
        визначення
        яке у вас нездужання (закладеність носу, кашель, головний біль, біль у серці, попереку, животі і таке інше), а
        далі
        проявляються характер та деталі нездужання.</p>
    <p>За результатами опитування виводиться один або декілька попередніх діагнозів та пропонується запис
        на обстеження до сімейного або профільного лікаря.</p>
    <a class="text-decoration-none " href="{% url 'glavmeny' %}">[ Далі ]</a>
    <p></p>
    <p>Всі права захищені. Розробник: Україна, Київ, ПП "Оріон-С" 2025р.
        Автор: Олександр Стариченко. Контакти: т. +380674012840, +380662938041, mail: staric377@gmail.com, Авторське
        свідотцтво № 126883.</p>
</div>

{% endblock %}