{% extends 'diagnoz/shablonmeny.html' %}
{% block title %}SEAM{% endblock %}

{% block nav %}
<div class="container text-center">
    <p class="fs-3 ">Наглядова Рада CEAM</p> <!---text-muted--->
    <p>Наглядова Рада CЕАМ створена з метою захисту системи і лікарів від шахраїв та злодіїв.</p>
    <p>Реєстрація лікарів в системі здійснюється Адміністратором CEAM за поданням Резюме лікаря погоджене Наглядовою
        Радою.</p>
    <p>Склад лікарів, які працюють в СЕАМ регламентується Наглядовою Радою профільних лікарів, яка забезпечує
        правдивість формування попередніх діагнозів нездужання.</p>
    <p> Слад наглядової Ради: </p>
    <p>Федірко Володимир Олегович - Голова Наглядової Ради. Доктор медичних наук, лікар-нейрохірург,
        завідувач відділу клініки субтентеріальної нейроонкології Інституту Нейрохірургії ім. Ромоданова</p>
    <p>Костюк Михайло Романович - Член Наглядової Ради CEAM. Старший нуаковий співробітник, к.м.н. лікар-нейрохірург,
        інтервенційний нейрорадіолог відділення судинної нейрохірургії головного мозку Інституту Нейрохірургії ім.
        Ромоданова. </p>


    <p></p>
    <p></p>
</div>

{% endblock %}