{% extends 'diagnoz/shablonnologin.html' %}
{% block title %}SEAM{% endblock %}

{% block nav %}
<div class="container text-center">
    <p class="fs-3 ">Наглядова Рада CEAM</p> <!---text-muted--->
    <p>Наглядова Рада CЕАМ створена з метою захисту системи і лікарів від шахраїв та злодіїв.</p>
    <p>Реєстрація лікарів в системі здійснюється Адміністратором CEAM за поданням Резюме лікаря погоджене Наглядовою
        Радою.</p>
    <p>Склад лікарів, які працюють в СЕАМ регламентується Наглядовою Радою профільних лікарів, яка забезпечує
        правдивість формування попередніх діагнозів нездужання.</p>
    <h6> Слад наглядової Ради: </h6>
    <table class="table ">
        <thead>
        <tr></tr>
        </thead>
        <tbody>
        <tr>
            <td><a class="sm-1 text-dark text-decoration-none "><img alt="" src="/static/diagnoz/img/fedirko.jpg"
                                                                     style="width: 100px; height: 100px;"><br>
                Федірко Володимир Олегович</a></td>
            <td><a class="sm-4 text-dark text-decoration-none ">Голова Наглядової Ради Системи СEAM, Доктор медичних
                наук, лікар-нейрохірург,
                завідувач відділу клініки субтентеріальної нейроонкології Інституту Нейрохірургії ім. Ромоданова.
            </a></td>
        </tr>
        <tr>
            <td><a class="sm-1 text-dark text-decoration-none "><img alt="" src="/static/diagnoz/img/koctyuk.jpg"
                                                                     style="width: 100px; height: 100px;"><br>
                Костюк Михайло Романович</a></td>
            <td><a class="sm-4 text-dark text-decoration-none ">Член Наглядової Ради CEAM. Старший нуаковий
                співробітник, к.м.н. лікар-нейрохірург,
                інтервенційний нейрорадіолог відділення судинної нейрохірургії головного мозку Інституту Нейрохірургії
                ім.
                Ромоданова.</a></td>
        </tr>
        <tr>
            <td><a class="sm-1 text-dark text-decoration-none "><img alt="" src="/static/diagnoz/img/nazarenkoap.jpg"
                                                                     style="width: 80px; height: 100px;"><br>
                Назаренко Олександр Павлович</a></td>
            <td><a class="sm-4 text-dark text-decoration-none ">Член Наглядової Ради CEAM. Кандидат медичних наук, Лікар
                імунолог-алерголог вищої категорії
                Генеральний директор та головний лікар клініки імунології та алергології «Форпост»,
                Президент Української Школи Молекулярної Алергології та Імунології (УШМАІ), Генеральний директор
                благодійного фонду "Лікарі Форпост Хелп"
                Має спеціалізації за напрямками: - клінічна імунологія - алергологія</a></td>
        </tr>
        </tbody>
    </table>
</div>

{% endblock %}