{% extends 'diagnoz/shablonmeny.html' %}
{% block nav %}

<div class="container-fluid text-center">

    <p>{{iduser}}</p>
        {% if likar %}
        <p>{{piblikar}}</p>
        <p>{{pacient}}</p>
        {% endif %}
    <h6>{{ compl }}</h6>
</div>
    {% block detalinglist %}
<p>Для перегляду переліку профільних лікарів закладу натиснути на
    відповідний рядок</p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in detalinglist %}
                <tr>
                    <td><a aria-current="page" class="nav-link"
                           href="{% url 'selectdprofillikar' item.kodZaklad  item.idStatus  item.name%}"><font
                style="vertical-align: inherit;">{{item.name}}</font></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
    {% endblock %}
<!---    <div style="display: inline-block">
        <a class="btn btn-primary" href="{% url backurl %}" role="button" style="font-size: 14px;">Повернутися</a>
    </div>--->

{% endblock %}
