{% extends 'diagnoz/shablonpage.html' %}

{% block content %}
<nav class="sidebar-sticky  navbar-expand-lg navbar-light bg-light">
    <div class="col">
        <h4>{{iduser}}</h4>
        {% if likar %}
        <p>{{pacient}}</p>
        <p>{{age_weight_growth}}</p>
        <p> {{tel_email_pind}}</p>
        {% endif %}
    </div>
    <div class="navbar-nav">
        <ul class="navbar-nav mr-auto flex-column">
            <li class="nav-item active">
                <a aria-current="page" class="nav-link" href="{% url 'contentinterwiev' %}"><font
                        style="vertical-align: inherit;">Зміст опитування</font></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <h6> Оберіть яке нездужання і де вас турбує </h6>
    {% block list %}
    {% for item in complaintlist %}
    <a aria-current="page" class="nav-link" href="{% url 'nextfeature' item.keyComplaint item.name %}"><font
            style="vertical-align: inherit;"> {{ item.name }} </font></a>
    {% endfor %}
    {% endblock %}
</div>
<a href="{{backurl}}">
    <img height="20" src="/static/diagnoz/img/backleft.png" style="float: left" width="20"></a>
{% endblock %}

