{% extends 'diagnoz/shablonnologin.html' %}
{% block nav %}

<div class="container-fluid text-center">

    <!--    <h6>{{iduser}}</h6>-->
    {% if likar %}
    <p>{{piblikar}}</p>
    <p>{{pacient}}</p>
    {% endif %}
    <h6>{{ compl }}</h6>
    <p class="fw-bold" style="font-size: 12px;">{{namediagnoz}}</p>
    <div style="display: inline-block">
        <a class="btn btn-sm text-white rounded-pill" href="{{ reason_url }}?q={{ search_reason }}"
           rel="noopener noreferrer"
           role="button" style="font-size: 12px; background-color: #558787; height=12;" target="_blank">
            Причини захворювання
        </a>
        <a class="btn btn-sm text-white rounded-pill" href="{{ prof_url }}?q={{ search_prof }}"
           rel="noopener noreferrer"
           role="button" style="font-size: 12px; background-color: #558787; height=12;" target="_blank">
            Профілактика захворювання
        </a>
        <a class="btn btn-sm text-white rounded-pill" href="{{ medication_url }}?q={{ search_medic }}"
           rel="noopener noreferrer"
           role="button" style="font-size: 12px; background-color: #558787; height=12;" target="_blank">
            Тактика лікування
        </a>
    </div>

</div>
{% block detalinglist %}
<div class="container-fluid text-center">
    <p class="fst-italic" style="font-size: 12px;">(Для перегляду переліку лікарів, які працюють у закладі натисніть на
        рядок відповідного
        закладу)</p>
</div>

<div class="table-container" style="max-height: 500px; overflow-y: auto;">
    <table class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for item in detalinglist %}
    <tr>
        <td><a aria-current="page" class="nav-link"
               href="{% url 'selectdprofillikar' item.kodZaklad  item.idStatus  item.name%}"><font
                style="vertical-align: inherit;">{{item.name}}</font></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
{% endblock %}
