{% extends 'diagnoz/shablonnologin.html' %}
{% block title %}SEAM{% endblock %}
{% block nav %}
<!--{% include 'diagnoz/kaducey.html' %}-->
<div class="container text-center">
    <div class="col justify-content-md-center">
        <p></p>
        <div class="col-md-auto">
            <h2>Реєстратура</h2>
        </div>
        <p><br></p>
        <div class="col-md-auto">
            <a class="text-primary text-decoration-none" href="{% url 'receptinterwiev' %}">
                <font style="font-size: 25px;"><font style="vertical-align: inherit;">Провести діагностику</font></font></a>
        </div>
        <p></p>
        <div class="col-md-auto">
            <a class="text-primary text-decoration-none" href="{% url 'checkvisitinglikar' %}"
               style="font-size: 25px;">Перегляд запису до лікаря</a>
        </div>
        <p></p>
        <div class="col-md-auto">
            <a class="text-primary text-decoration-none" href="{% url 'receptprofillmedzaklad' %}"
               style="font-size: 25px;">Профільні лікарні</a>
        </div>
        <p></p>
        <div class="col-md-auto">
            <a class="text-primary text-decoration-none" href="{% url 'directiondiagnoz' %}"
               style="font-size: 25px;">Напрямки діагностики</a>
        </div>

    </div>
</div>
{% endblock %}
