{% extends 'diagnoz/shablonpage.html' %}
{% block content %}

<div class="container-fluid text-center">
    <h5>{{reestrinput}}</h5>
    <a> Для створення облікового запису введіть реєстраційні показники</a>
</div>
<div class="d-flex justify-content-center align-items-center ">
    <form class="needs-validation" method="POST" novalidate="">
    {% csrf_token %}
    <div class="row g-3">
        <div class="col-md-4">
            <label class="form-label"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">{{ form.login.label }}</font></font>
            </label>
            {{form.login}}
            <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">Вимагається дійсний номер телефону.</font></font>
            </div>
        </div>
        <p></p>
        <div class="col-md-4">
            <label class="form-label"><font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">{{form.password.label}}</font></font>
            </label>
            {{form.password}}
            <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">Вимагається дійсний пароль.</font></font>
            </div>
        </div>
        <p></p>
        <div class="col-md-4">
            <label class="form-label"><font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">{{form.dwpassword.label}}</font></font>
            </label>
            {{form.dwpassword}}
            <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">Вимагається дійсний пароль.</font></font>
            </div>
        </div>
    </div>
    <p></p>
        <div style="display: inline-block">
            <button class=" btn btn-primary " type="submit"><font style="font-size: 14px;"><font
            style="vertical-align: inherit;">Підтвердити</font></font></button>
            <a class="btn btn-primary" href="{{backurl}}" role="button" style="font-size: 14px;">Скасувати запит</a>
        </div>
    </form>
</div>

{% endblock %}