{% extends 'diagnoz/shablonnologin.html' %}
{% block nav %}

<div class="container-fluid text-center">

    {% if likar %}
    <p>{{piblikar}}</p>
    <p>{{pacient}}</p>
    {% else %}
    <h6>{{iduser}}</h6>
    {% endif %}


    <h6> {{ finishtext }} </h6>
    <div class="container-fluid text-center justify-content-center d-flex align-items-center">
    <div style="display: inline-block">
        <a class="btn btn-sm text-white rounded-pill text-center justify-content-center d-flex align-items-center"
           href="{% url backurl %}" role="button"
           style="font-size: 13px; background-color: #558787; width: 90px; height: 20px;">Далі</a>
    </div>
    </div>
</div>

{% endblock %}