{% extends 'diagnoz/shablonpage.html' %}

{% block content %}

<nav class="sidebar-sticky  navbar-expand-lg navbar-light bg-light">
    <div class="col">
        <p>{{medzaklad}}</p>
        <p>{{reestrinput}}</p>
        <p>Введіть будь-яку комбінацію нижче наведених реквізитів для пошуку пацієнта в БД,</p>
        <p>або зареєструйте його профіль</p>
    </div>

</nav>
<form class="needs-validation" method="POST" novalidate="">
    {% csrf_token %}
    <div class="row g-3">
        <div class="col-md-2">
            <label class="form-label"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">{{ form.telefon.label }}</font></font></label>
            {{form.telefon}}
            <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">Вимагається дійсний номер.</font></font>
            </div>
        </div>
        <p></p>
        <div class="col-md-2">
            <label class="form-label"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">{{ form.name.label }}</font></font>
            </label>
            {{form.name}}
            <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">Вимагається дійсне ім'я.</font></font>
            </div>
        </div>
        <div class="col-md-2">
            <label class="form-label"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">{{ form.surname.label }}</font></font></label>
            {{form.surname}}
            <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">Вимагається дійсне прізвище.</font></font>
            </div>
        </div>
    </div>
    <p></p>
    <button class="w-40 h-20 btn btn-primary btn-lg" type="submit"><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;">Підтвердити</font></font></button>
</form>

<a href="{% url 'pacientprofil' %}">{{compl}}</a>


{% endblock %}