{{% extends 'diagnoz/shablonmeny.html' %}
{% block nav %}

<div class="container-fluid text-center">

    <div class="col">
        {% if reestr %}
        <p>{{medzaklad}}</p>
        <p>{{reestrinput}}</p>
        <p>Введіть будь-яку комбінацію нижче наведених реквізитів для пошуку пацієнта в БД,<br>
            або зареєструйте його профіль.</p>
        {% else %}
        <p>{{iduser}}</p>
        <p>Введіть будь-яку комбінацію нижче наведених реквізитів для пошуку запису<br>
            на обстеження до лікаря.</p>
        {% endif %}
    </div>

</div>
<div class="d-flex justify-content-center align-items-center ">
    <form class="needs-validation mx-auto " method="POST" novalidate="">
    {% csrf_token %}

        <div class="row g-3 text-center">
            <div class="col-md-4">
            <label class="form-label"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">{{ form.telefon.label }}</font></font></label>
            {{form.telefon}}
            <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">Вимагається дійсний номер.</font></font>
            </div>
        </div>
        <p></p>
            <div class="col-md-4">
            <label class="form-label"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">{{ form.name.label }}</font></font>
            </label>
            {{form.name}}
            <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">Вимагається дійсне ім'я.</font></font>
            </div>
        </div>
            <div class="col-md-4">
            <label class="form-label"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">{{ form.surname.label }}</font></font></label>
            {{form.surname}}
            <div class="invalid-feedback"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">Вимагається дійсне прізвище.</font></font>
            </div>
        </div>
    </div>

    <p></p>
        <div class="container-fluid text-center" style="display: inline-block">
            <button class="btn btn-sm  text-white" style="font-size: 12px; background-color: #558787;  "
                    type="submit">Підтвердити
            </button>
        {% if reestr %}
            <a class="btn  btn-sm text-white" href="{% url 'pacientprofil' %}" role="button"
               style="font-size: 12px; background-color: #558787; height=12;">{{compl}}</a>
        {% endif %}
            <a class="btn btn-sm text-white" href="{% url backurl %}" role="button"
               style="font-size: 12px; background-color: #558787; height=12;">Скасувати
                запит</a>
    </div>
</form>
</div>

{% endblock %}