{% extends 'diagnoz/shablonnologin.html' %}
{% block nav %}
<div class="container-fluid text-center">
    {% if likarikolegi %}
    <p class="fw-normal" style="font-size: 18px;"> {{ compl }} </p>
    <p class="fst-italic" style="font-size: 12px;">(Для перегляду робочих напрямків захворювань, з якими працює лікар,
        натисніть на відповідне прізвище)</p>
    {% else %}
    {% if likar %}
    <p class="fw-bold" style="font-size: 15px;">{{namediagnoz}}</p>
    <div style="display: inline-block">
        <a class="btn btn-sm text-white rounded-pill" href="{{ reason_url }}?q={{ search_reason }}"
           rel="noopener noreferrer"
           role="button" style="font-size: 12px; background-color: #558787; height=12;" target="_blank">
            Причини захворювання
        </a>
        <a class="btn btn-sm text-white rounded-pill" href="{{ prof_url }}?q={{ search_prof }}"
           rel="noopener noreferrer"
           role="button" style="font-size: 12px; background-color: #558787; height=12;" target="_blank">
            Профілактика захворювання
        </a>
        <a class="btn btn-sm text-white rounded-pill" href="{{ medication_url }}?q={{ search_medic }}"
           rel="noopener noreferrer"
           role="button" style="font-size: 12px; background-color: #558787; height=12;" target="_blank">
            Тактика лікування
        </a>
    </div>
    {% endif %}

    <p class="fw-normal" style="font-size: 18px;"> {{ compl }} </p>

    {% if workdirection %}
    {% if familylikar %}
    <p class="fst-italic" style="font-size: 12px;">(Для вибору лікаря натисніть на відповідне прізвище)</p>
    {% else %}
    <p class="fst-italic" style="font-size: 12px;">(Для перегляду робочих напрямків захворювань, з якими працює лікар,
        натисніть на відповідне прізвище)</p>
    {% endif %}
    {% else %}
    {% if likar %}
    {% else %}
    <p class="fst-italic" style="font-size: 12px;">(Для запису до лікаря натисніть на відповідне прізвище.)</p>
    {% endif %}
    {% endif %}
    {% if addfamilylikar %}
    <div class="container-fluid text-center " style="display: inline-block">
        {% if dellikar %}
        <a class="btn btn-sm text-white rounded-pill "
           href="{% url 'deletefamilylikar' %}" role="button"
           style="font-size: 13px; background-color: #558787;  ">Видалити</a>
        {% endif %}

        <a class="btn btn-sm text-white rounded-pill  "
           href="{% url 'addfamilylikar' %}" role="button"
           style="font-size: 13px; background-color: #558787; ">Додати</a>
    </div>
    {% endif %}
    {% endif %}
</div>
<p></p>
{% block list %}
<form method="POST">
    {% csrf_token %}
    <div class="table-container" style="max-height: 500px; overflow-y: auto;">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th class="fw-normal" style="font-size: 15px;"> Ім'я, прізвище</th>
                <th class="fw-normal" style="font-size: 15px;"> Проф. діяльність</th>
                <th class="fw-normal" style="font-size: 15px;"> Мед. заклад</th>
                <th class="fw-normal" style="font-size: 15px;"> Адреса закладу</th>
                {% if addfamilylikar %}
                <th class="fw-normal" style="font-size: 15px;"> Кількість звернень</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for item in detalinglist %}
            <tr>
                {% if likar %}
                <td><a aria-current="page" class="nav-link" href="" style="vertical-align: inherit;">
                    {{item.name}} {{item.surname}}</a>
                </td>

                <td><a aria-current="page" class="nav-link" href="" style="vertical-align: inherit;">
                    {{item.specialnoct}} {{item.resume}}</a>
                </td>
                <td><a aria-current="page" class="nav-link" href="" style="vertical-align: inherit;">
                    {{item.zakladname}}</a>
                </td>
                <td><a aria-current="page" class="nav-link" href="" style="vertical-align: inherit;">
                    {{item.adreszak}}</a>
                </td>
                {% else %}
                <td>
                    <div class="form-check ">
                        {% if addfamilylikar %}
                        <input %} %}checked{%
                               class="form-check-input ajax-checkbox" data-id="{{ item.kodDoctor }}"
                               data-url="{% url 'likar_checkbox_view' item.kodDoctor %}" endif
                               if item.checklikar name="likar_checkbox" style=" font-size: 25px; background-color: #a2baba;" type="checkbox" {%>
                        {% endif %}
                        <a class="col container  text-dark text-decoration-none"
                           href="{% url 'inputprofilpacient' item.kodDoctor  %}"
                           style="vertical-align: inherit;"> {{item.name}} {{item.surname}}</a>
                    </div>

                </td>

                <td><a aria-current="page" class="nav-link" href="{% url 'inputprofilpacient' item.kodDoctor  %}"
                       style="vertical-align: inherit;">
                    {{item.specialnoct}} {{item.resume}}</a>
                </td>
                <td><a aria-current="page" class="nav-link" href="{% url 'inputprofilpacient' item.kodDoctor  %}"
                       style="vertical-align: inherit;">
                    {{item.zakladname}}</a>
                </td>
                <td><a aria-current="page" class="nav-link" href="{% url 'inputprofilpacient' item.kodDoctor  %}"
                       style="vertical-align: inherit;">
                    {{item.adreszak}}</a>
                </td>
                {% if addfamilylikar %}
                <td><a aria-current="page" class="nav-link" href="{% url 'inputprofilpacient' item.kodDoctor  %}"
                       style="vertical-align: inherit;"> {{item.numberrequests}}</a>
                </td>
                {% endif %}
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</form>
{% endblock %}
<script>
    document.querySelectorAll('.ajax-checkbox').forEach(checkbox => {
        checkbox.addEventListener('change', function() {

            const url = this.dataset.url;
            const itemId = this.getAttribute('data-id');
            const isChecked = this.checked;
            fetch(url, {
                method: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                        idlikar: itemId,
                        active: isChecked
                })
            })
            .then(response => response.json())
            .then(data => console.log("Успех:", data))
            .catch(error => console.error("Ошибка:", error));
        });
    });
</script>
{% endblock %}