{% extends 'diagnoz/shablonpage.html' %}

{% block content %}

<nav class="sidebar-sticky  navbar-expand-lg navbar-light bg-light">
    <div class="col">
        {% if likar %}
        <p>{{piblikar}}</p>
        <p>{{pacient}}</p>
        {% else %}
        <h4>{{iduser}}</h4>
        <p>{{namedzaklad}}</p>
        <p>{{adrdzaklad}}</p>
        {% endif %}

    </div>

</nav>
<div class="container-fluid">
    <h5> {{ compl }} </h5>
    {% if directdiagnoz %}
    <h6>Для перегляду робочих напрямків захворювань, з якими працює лікар, натисніть на відповідне прізвище</h6>
    {% endif %}
    {% block list %}
    <table>
        <thead>
        <tr>
            <th style="width: 15%;"> Ім'я, прізвище</th>
            <th style="width: 10%;"> Телефон</th>
            <th> Професійна діяльність</th>
        </tr>
        </thead>
        <tbody>

        {% for item in detalinglist %}
        <tr>
            {% if directdiagnoz %}
            <td><a aria-current="page" class="nav-link"
                   href="{% url 'inputprofilpacient' item.kodDoctor  %}"><font style="vertical-align: inherit;">
                {{item.name}} {{item.surname}} </font></a></td>
            <td><a aria-current="page" class="nav-link"
                   href="{% url 'inputprofilpacient' item.kodDoctor  %}"><font style="vertical-align: inherit;">
                {{item.telefon}}</font></a></td>
            <td><a aria-current="page" class="nav-link"
                   href="{% url 'inputprofilpacient' item.kodDoctor  %}"><font style="vertical-align: inherit;">
                {{item.specialnoct}} {{item.resume}}</font></a></td>
            {% else %}
            <td><a aria-current="page" class="nav-link"
                   href=""><font style="vertical-align: inherit;"> {{item.name}} {{item.surname}} </font></a></td>
            <td><a aria-current="page" class="nav-link"
                   href=""><font style="vertical-align: inherit;"> {{item.telefon}}</font></a></td>
            <td><a aria-current="page" class="nav-link"
                   href=""><font style="vertical-align: inherit;"> {{item.specialnoct}} {{item.resume}}</font></a></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
</div>
<a class="text-decoration-none" href="{% url backurl %}">[ Далі ]</a>
{% endblock %}