{% extends 'diagnoz/shablonpage.html' %}

{% block content %}

<nav class="sidebar-sticky  navbar-expand-lg navbar-light bg-light">
    <div class="col">
        {% if likar %}
        <p>{{piblikar}}</p>
        <p>{{pacient}}</p>
        {% else %}
        <h4>{{iduser}}</h4>
        {% endif %}

    </div>

</nav>
<div class="container-fluid">
    <h5> {{ compl }} </h5>
    {% block detalinglist %}
    {% for item in detalinglist %}
    <a aria-current="page" class="nav-link"
       href="{% url 'inputprofilpacient' item.kodDoctor  %}"><font style="vertical-align: inherit;">
        {{item.name}} {{item.surname}} {{item.specialnoct}} {{item.telefon}}</font></a>
    {% endfor %}
    {% endblock %}
    <a href="{% url 'reception' %}">Далі</a>
</div>

{% endblock %}