{% extends 'diagnoz/shablonpage.html' %}

{% block content %}


<div class="row row-cols-auto">
    <div class="col">
        <table class="table">
            <thead>
            </thead>
            <tbody>
        {% if likar %}
        <tr>
            <td><p>{{piblikar}}</p></td>
        </tr>
        <tr>
            <td><p>{{pacient}}</p></td>
        </tr>
        {% else %}
        <tr>
            <td><h6>{{iduser}}</h6></td>
        </tr>
        <tr>
            <td><p>{{namedzaklad}}</p></td>
        </tr>
        <tr>
            <td><p>{{adrdzaklad}}</p></td>
        </tr>
        {% endif %}
            </tbody>
        </table>
    </div>
</div>

<div class="container-fluid">
    <h5> {{ compl }} </h5>
    {% if directdiagnoz %}

    <h6>Для перегляду робочих напрямків захворювань, з якими працює лікар, натисніть на відповідне прізвище</h6>
    {% endif %}
    <div class="row row-cols-auto">
        <div class="col">
    {% block list %}
            <table class="table table-striped">
        <thead>
        <tr>
            <th> Ім'я, прізвище</th> <!---style="width: 15%;"--->
            <th> Телефон</th>
            <th> Професійна діяльність</th>
        </tr>
        </thead>
        <tbody>

        {% for item in detalinglist %}
        <tr>
            {% if directdiagnoz %}
            <td><a aria-current="page" class="nav-link"
                   href="{% url 'inputprofilpacient' item.kodDoctor  %}"><font style="vertical-align: inherit;">
                {{item.name}} {{item.surname}} </font></a></td>
            <td><a aria-current="page" class="nav-link"
                   href="{% url 'inputprofilpacient' item.kodDoctor  %}"><font style="vertical-align: inherit;">
                {{item.telefon}}</font></a></td>
            <td><a aria-current="page" class="nav-link"
                   href="{% url 'inputprofilpacient' item.kodDoctor  %}"><font style="vertical-align: inherit;">
                {{item.specialnoct}} {{item.resume}}</font></a></td>
            {% else %}
            <td><a aria-current="page" class="nav-link"
                   href=""><font style="vertical-align: inherit;"> {{item.name}} {{item.surname}} </font></a></td>
            <td><a aria-current="page" class="nav-link"
                   href=""><font style="vertical-align: inherit;"> {{item.telefon}}</font></a></td>
            <td><a aria-current="page" class="nav-link"
                   href=""><font style="vertical-align: inherit;"> {{item.specialnoct}} {{item.resume}}</font></a></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
        </div>
    </div>
</div>
<a class="btn btn-primary" href="{% url backurl %}" role="button">Повернутися</a>
{% endblock %}