
{% load static %}
<!doctype html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>{% block title %}{% endblock %}</title>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <link href="{% static 'diagnoz/css/diagnoz.css' %}" rel="stylesheet">
</head>
<body>

<!---<div class="container text-center" style="height: 30px; background-color: #558787;"> --->
    <div class="row " style="height: 30px; background-color: #558787;">
        <div class="col-sm-1 justify-content-start " style="height: 30px; width: 80px; background-color: #558787;">
            <nav class="navbar navbar-expand-lg navbar-light " style="height: 25px; background-color: #558787;">
                <div class="container d-flex  align-items-start">
                    <ul class="navbar-nav ">
                        <li class="nav-item dropdown ">
                            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-placement="top"
                               data-bs-toggle="dropdown" data-bs-toggle="tooltip" title="Закладки"

                               href="#" id="navbarDropdownMenuLink" role="button">
                                <img alt="" class="d-inline-block  " height="20" src="/static/diagnoz/img/gamb.png"
                                     width="20"></a>
                            <ul aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu ">
                                <li><a class="dropdown-item" href="{% url 'index' %}">Головна</a></li>
                                <li><a class="dropdown-item" href="{% url 'reception' %}">Гість</a></li>
                                <li><a class="dropdown-item" href="{% url 'pacient' %}">Пацієнт</a></li>
                                <li><a class="dropdown-item" href="{% url 'likar' %}">Лікарь</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-sm-1 justify-content-start d-flex align-items-start"
             style="height: 30px; width: 50px; background-color: #558787;">
            <a class="btn justify-content-start d-flex align-items-start" data-bs-placement="top"
               data-bs-toggle="tooltip" href="{% url 'backpage' %}"
               role="button" style="background-color: #558787; height=15" title="Повернутися до попередньої сторінки">
                <img alt="" height="15" src="/static/diagnoz/img/back2.png" style="background-color: #558787;"
                     width="20">
            </a>
        </div>
        <div class="col justify-content-start d-flex align-items-center"
             style="height: 30px;  background-color: #558787;">
            <a class="btn justify-content-start d-flex align-items-start" data-bs-placement="top"
               data-bs-toggle="tooltip" href="{% url 'index' %}"
               role="button" style="background-color: #558787; height=15" title="Головна">
                <img alt="" height="15" src="/static/diagnoz/img/back3.png" style="background-color: #558787;"
                     width="20">
            </a>
        </div>
        <div class="col justify-content-start d-flex align-items-center"
             style="height: 30px;  background-color: #558787;">
            <a class="btn " href="" role="button" style="background-color: #558787;"></a>
        </div>
        <div class=" col-sm-1 justify-content-end d-flex  align-items-end"
             style="height: 30px;  background-color: #558787;">
            <button class="btn btn-success d-flex align-items-end " data-bs-placement="top" data-bs-target="#loginModal"
                    data-bs-toggle="modal" data-bs-toggle="tooltip"
                    style="height: 15px; background-color: #558787;" title="Увійти до кабінету" type="button">
                <img alt="" height="15" src="/static/diagnoz/img/myprofil.png" width="15">
            </button>
        </div>
        <div class=" col-sm-1 justify-content-end d-flex  align-items-end"
             style="height: 30px;  background-color: #558787;">
            <a class="btn " data-bs-placement="top" data-bs-toggle="tooltip" href="{% url 'proseam' %}"
               role="button" style="background-color: #558787; height=15" title="Про СЕАМ">
                <img alt="" height="15" src="/static/diagnoz/img/menykebab.png" style="background-color: #558787;"
                     width="15">
            </a>
        </div>


        <div aria-hidden="true" aria-labelledby="loginModalLabel" class="modal fade" id="loginModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginModalLabel">Увійти / Зареєструватися </h5>
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                    </div>

                    <form action="" method="POST">
                        <div class="modal-body">
                            {% csrf_token %}

                            {% if login_form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in login_form.non_field_errors %}
                                {{ error }}
                                {% endfor %}
                            </div>
                            {% endif %}

                            <div class="mb-3">
                                <label class="form-label" for="{{ login_form.username.id_for_label }}">
                                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Номер
                                        телефону +xxx xx xxx xx xx</font></font></label>
                                {{ login_form.username }}
                                {% for error in login_form.username.errors %}
                                <div class="invalid-feedback d-block">{{ error }}</div>
                                {% endfor %}
                            </div>

                            <div class="mb-3">
                                <label class="form-label justify-content-start"
                                       for="{{ login_form.password.id_for_label }}">Пароль</label>
                                {{ login_form.password }}
                                {% for error in login_form.password.errors %}
                                <div class="invalid-feedback d-block">{{ error }}</div>
                                {% endfor %}
                            </div>

                        </div>
                        <div class="modal-footer">

                            <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Скасувати</button>
                            <button class="btn btn-primary" type="submit">Підтвердити</button>

                        </div>

                    </form>

                </div>
            </div>
        </div>


    </div>
    <p></p>

    {% block nav %}
    {% endblock %}

<!---</div> --->
<script src="js/bootstrap.min.js"></script>
<!---<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>--->

<script crossorigin="anonymous"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"></script>

<script>
    // Проверяем, существует ли переменная 'login_form' в контексте
    // и есть ли у нее ошибки (т.е. был ли неудачный POST-запрос)
    {% if login_form.errors %}
      document.addEventListener('DOMContentLoaded', function() {
        // Находим наше модальное окно по ID
        var loginModal = new bootstrap.Modal(document.getElementById('loginModal'), {
          keyboard: false // Опционально: не закрывать по Esc
        });
        // Показываем его
        loginModal.show();
      });
    {% endif %}
</script>
<script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>