{% extends 'diagnoz/shablonnologin.html' %}
{% block title %}SEAM{% endblock %}
{% block nav %}
<div class="container">
    <p class="fs-5 text-center ">Основні заходи долікарняної допомоги при опіку</p>


    <a class="fw-semibold text-decoration-none text-black">Припинити контакт потерпілого з джерелом тепла (вогонь,
        окріп, пара).
        Загасити одяг, що горить.</a><br>
    <a class="fw-semibold text-decoration-none text-black">Охолодити місце опіку </a><a> прохолодною (не крижаною!)
    водою протягом 10–20 хвилин.</a><br>
    <a class="fw-semibold text-decoration-none text-black">Обережно зняти </a>
    <a>прикраси/тісний одяг (не відривати прилипле!) поки ділянка не почала набрякати.</a><br>
    <a class="fw-semibold text-decoration-none text-black">Накрити опік</a>
    <a> стерильною марлевою пов'язкою або чистою сухою тканиною, що не залишає ворсу. Пов'язка має бути вільною, не
        тиснути.</a><br>
    <a class="fw-semibold text-decoration-none text-black">Дайте потерпілому пити (воду, чай)</a>
    <a> для запобігання зневоднення. Якщо є ознаки шоку, покладіть людину, піднявши ноги, та вкрийте ковдрою.</a><br>
    <a class="fw-semibold text-decoration-none text-black"> Якщо опік великий </a>
    <a>(долоня, > 10% тіла), опік обличчя, шиї, очей, або якщо це дитина.</a>
    <a class="fw-semibold text-decoration-none text-black"> Негайно викличте швидку (103).</a><br>
    <a class="fw-semibold text-decoration-none text-black"> Забороняється :</a><br>
    <a> - Прикладати лід (це спричиняє спазм судин і глибше ураження).</a><br>
    <a> - Змащувати опік олією, жиром, сметаною, спиртом, пантенолом (у перші хвилини).</a><br>
    <a> - Проколювати пухирі.</a><br>
    <p></p>
</div>
<div class="container-fluid text-center" style="display: inline-block">
    <a class="btn btn-sm text-white rounded-pill" href="{{ reason_url }}?q={{ search_reason }}"
       rel="noopener noreferrer" role="button"
       style="font-size: 12px; background-color: #558787; height=12;" target="_blank">Більше тут...</a>
</div>

{% endblock %}