{% extends 'diagnoz/shablonnologin.html' %}
{% block title %}SEAM{% endblock %}
{% block nav %}
<div class="container">
    <p class="fs-5 text-center ">Основні заходи долікарняної допомоги при болі у горлі</p>


    <a class="fw-semibold text-decoration-none text-black">Часте тепле пиття (чай, трав'яні відвари),</a>
    <a> полоскання сольовим або содовим розчином, зволоження повітря, використання льодяників та уникнення
        подразників. Ефективні також компреси що зігрівають спрямовані на полегшення симптомів та запобігання
        погіршенню стану до візиту до лікаря.</a><br>
    <a class="fw-semibold text-decoration-none text-black">Полоскання горла: </a>
    <a> Кожні 2-3 години використовуйте розчин солі (1/2 ч.л. на склянку теплої води),
        соди (1/2 ч.л. на склянку) або відвари трав (ромашка, шавлія, календула).
        При сильному болі та запаленні можна прийняти системні протизапальні засоби,
        такі як ібупрофен або парацетамол.</a><br>
    <a class="fw-semibold text-decoration-none text-black">Тепле пиття: </a>
    <a> Теплий чай з медом, лимоном, імбиром, тепле молоко або бульйони
        допомагають зняти запалення та зволожити слизову. Також рекомендуються спреї,
        пастилки та льодяники для горла які знімають пирхоту та біль.</a><br>
    <a class="fw-semibold text-decoration-none text-black">Зволоження повітря:</a>
    <a> Підтримуйте вологість повітря на рівні 40–70% у приміщенні, щоб зменшити подразнення горла.
        Уникайте куріння, гострої, гарячої та твердої їжі, яка подразнює горло.</a><br>

    <a class="fw-semibold text-decoration-none text-black"> Терміново звернутися до лікаря у разі:</a><br>
    <a> - Біль триває понад 2-3 дні.</a><br>
    <a> - Висока температура, яку важко збити.</a><br>
    <a> - Утруднене дихання або ковтання.</a><br>
    <a> - З’явився висип на тілі.</a><br>
    <p></p>
</div>
<div class="container-fluid text-center" style="display: inline-block">
    <a class="btn btn-sm text-white rounded-pill" href="{{ reason_url }}?q={{ search_reason }}"
       rel="noopener noreferrer" role="button"
       style="font-size: 12px; background-color: #558787; height=12;" target="_blank">Більше тут...</a>
</div>

{% endblock %}