{% extends 'diagnoz/shablonpage.html' %}

{% block content %}

<nav class="sidebar-sticky  navbar-expand-lg navbar-light bg-light">
    <div class="col">
        {% if likar %}
        <p>{{piblikar}}</p>
        <p>{{pacient}}</p>
        {% else %}
        <h4>{{iduser}}</h4>
        {% endif %}
    </div>
    <div class="navbar-nav">
        <ul class="navbar-nav mr-auto flex-column">
            <li class="nav-item active">
                <a aria-current="page" class="nav-link" href="{% url 'contentinterwiev' %}"><font
                        style="vertical-align: inherit;"><font style="vertical-align: inherit;">Зміст опитування</font></font></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <h6>Перелік попередніх діагнозів</h6>
    {% block detalinglist %}
    {% for item in detalinglist %}
    <a aria-current="page" class="nav-link"
       href="{% url 'selectdiagnoz' item.kodProtokola item.nametInterview  %}"><font
            style="vertical-align: inherit;">{{item.nametInterview}}</font></a>
    {% endfor %}
    {% endblock %}
    <h5> Назва попереднього діагнозу {{compl}} </h5>
    <p><h6>Короткий опис діагнозу:</h6>
    <p> {{opis}} </p>
    <p><h6>Посилання на опис в інтернеті:</h6>
    <p> {{http}} </p>
    <p><h6>Рекомендації щодо подальших дій:</h6>
    <p> {{rekomendaciya}} </p>
    <p>
        <a href="{% url 'receptfamilylikar' %}">Записатися до сімейного лікаря</a><br>
        <a href="{% url 'receptprofillmedzaklad' %}">Записатися до профільного лікаря</a><br>
        <a href="{% url 'savediagnoz' %}">Зберегти опитування</a><br>
        <a href="{% url 'receptinterwiev' %}">Почати з початку</a>
</div>

{% endblock %}