{% extends 'diagnoz/shablonpage.html' %}
{% block content %}

<div class="container-fluid">
    <div class="col">
    {% include 'diagnoz/shablonzaglinterview.html' %}
    <a class="text-decoration-none" href="{% url 'contentinterwiev' %}">[ Зміст опитування ]</a>
    </div>
</div>
    {% block detalinglist %}
<div class="row row-cols-auto">
    <div class="col">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Перелік попередніх діагнозів</th>
            </tr>
            </thead>
            <tbody>
            {% for item in detalinglist %}
            <tr>
                <td><a aria-current="page" class="nav-link"
                       href="{% url 'selectdiagnoz' item.kodProtokola item.nametInterview  %}"><font
                        style="vertical-align: inherit;">{{item.nametInterview}}</font></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    {% endblock %}

<div class="row row-cols-auto">
    <div class="col">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Назва попереднього діагнозу {{compl}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><p><h6>Короткий опис діагнозу:</h6></td>
            </tr>
            <tr>
                <td><p> {{opis}} </p></td>
            </tr>
            <tr>
                <td><p><h6>Посилання на опис в інтернеті:</h6></td>
            </tr>
            <tr>
                <td><p> {{http}} </p></td>
            </tr>
            <tr>
                <td><p><h6>Рекомендації щодо подальших дій:</h6></td>
            </tr>
            <tr>
                <td><p> {{rekomendaciya}} </p></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container-fluid">
    <div class="col">
        <a class="btn btn-primary" href="{% url 'receptprofillmedzaklad' %}" role="button" style="font-size: 14px;">Записатися
            до профільного
            лікаря</a>
    </div>
    <p></p>
    <div class="col">
        <a class="btn btn-primary" href="{% url 'receptfamilylikar' %}" role="button" style="font-size: 14px;">Записатися
            до сімейного лікаря</a>
    </div>
    <p></p>
    <div class="col">
        <a class="btn btn-primary" href="{% url 'savediagnoz' %}" role="button" style="font-size: 14px;">Зберегти
            опитування</a>
    </div>
    <p></p>
    <div class="col">
        <a class="btn btn-primary" href="{% url 'receptinterwiev' %}" role="button" style="font-size: 14px;">Почати з
            початку</a>
    </div>

</div>

{% endblock %}