{% extends 'diagnoz/shablonnologin.html' %}
{% block nav %}

<div class="container-fluid text-center">

    {% if directdiagnoz %}
    {% else %}
    <h6>{{iduser}}</h6>
    <p>{{medzaklad}}</p>
    <p>{{piblikar}}</p>
    {% endif %}

    {% if directdiagnoz %}
    <p>Перелік робочих діагнозів захворювань за напрямком {{icdgrup}}</p>
    {% else %}
    {% if listnull %}
    {{icdgrup}}
    {% else %}
    <p>Перелік робочих діагнозів захворювань за напрямком {{icdgrup}}</p>
    <h6>Для перегляду змісту опитування, яке визначає попередній діагноз необхідно натиснути на відповідний рядок</h6>
    {% endif %}
    {% endif %}
</div>
{% block list %}
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Попередній діагноз</th>
    </tr>
    </thead>
    <tbody>
    {% for item in complaintlist %}
    {% if directdiagnoz %}
    <tr>
        <td><a aria-current="page" class="nav-link" href=""><font style="vertical-align: inherit;">
            {{item.nametInterview}} </font></a></td>
    </tr>
    {% else %}
    <tr>
        <td><a aria-current="page" class="nav-link" href="{% url 'contentinterview'  item.kodProtokola  %} "><font
                style="vertical-align: inherit;"> {{item.nametInterview}} </font></a></td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}
<div class="container-fluid text-center" style="display: inline-block">
    {% if directdiagnoz %}
    {% else %}
    <a class="btn btn-sm text-white rounded-pill" href="{% url 'deleteworkdiagnoz' %}" role="button"
       style="font-size: 12px; background-color: #558787; height=12;">Видалити поточний напрямок</a>
    {% endif %}

</div>

{% endblock %}
