{% extends 'diagnoz/shablonpage.html' %}

{% block content %}

<div class="container-fluid">
    <div class="col">
        {% if directdiagnoz %}
        {% else %}
        <p>{{medzaklad}}</p>
        <p>{{piblikar}}</p>
        {% endif %}
    </div>
</div>
<div class="container-fluid">
    <div class="col">
    {% if directdiagnoz %}
    <p>Перелік робочих діагнозів захворювань за напрямком {{icdgrup}}</p>
    {% else %}
    {% if listnull %}
    {{icdgrup}}
    {% else %}
    <p>Перелік робочих діагнозів захворювань за напрямком {{icdgrup}}</p>
    <h6>Для перегляду змісту опитування, яке визначає попередній діагноз необхідно натиснути на відповідний рядок</h6>
    {% endif %}
    {% endif %}
    </div>
</div>
<div class="row row-cols-auto">
    <div class="col">
    {% block list %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Попередній діагноз</th>
            </tr>
            </thead>
            <tbody>
    {% for item in complaintlist %}

    {% if directdiagnoz %}
    <tr>
        <td><a aria-current="page" class="nav-link" href=""><font style="vertical-align: inherit;">
            {{item.nameDiagnoza}} </font></a></td>
    </tr>
    {% else %}
    <tr>
        <td><a aria-current="page" class="nav-link" href="{% url 'contentinterview'  item.kodDiagnoza  %} "><font
                style="vertical-align: inherit;"> {{item.nameDiagnoza}} </font></a></td>
    </tr>
    {% endif %}
    {% endfor %}
            </tbody>
        </table>
    {% endblock %}
    </div>
</div>

<div style="display: inline-block">
    {% if directdiagnoz %}
    {% else %}
    <a class="btn btn-primary" href="{% url 'deleteworkdiagnoz' %}" role="button">Видалити поточний напрямок</a>

    {% endif %}
    <a class="btn btn-primary" href="{% url backurl %}" role="button">Повернутися</a>

</div>
{% endblock %}
